#%RAML 1.0
title: FDX API
version: 6.2.0
baseUri: https://financialdataexchange-prod.apigee.net/fdx-consent-api-v6.2.0
baseUriParameters: {}
protocols:
- HTTPS
documentation:
- title: FDX API
  content: Financial Data Exchange V6.2.0 Consent API
securitySchemes:
  TaxBasicAuth:
    type: Basic Authentication
securedBy:
- bearerAuth
types:
  ConsentGrantentity:
    displayName: ConsentGrantentity
    description: Record of user consent
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: The persistent identifier of the consent
        type: string
        maxLength: 256
      status:
        required: false
        displayName: status
        description: The current status of the consent
        type: string
        enum:
        - ACTIVE
        - EXPIRED
        - REVOKED
      parties:
        required: false
        displayName: parties
        description: The non-end user parties participating in the Consent Grant
        type: array
        items:
          type: Partyentity
      createdTime:
        required: false
        example:
          value: 2021-07-15T14:46:41.375Z
        displayName: createdTime
        description: When the consent was initially granted
        type: datetime
      expirationTime:
        required: false
        example:
          value: 2021-07-15T14:46:41.375Z
        displayName: expirationTime
        description: When the consent grant will become expired
        type: datetime
      updatedTime:
        required: false
        example:
          value: 2021-07-15T14:46:41.375Z
        displayName: updatedTime
        description: When the consent grant was updated
        type: datetime
      durationType:
        required: false
        displayName: durationType
        description: The type of duration of the consent
        type: string
        enum:
        - ONE_TIME
        - PERSISTENT
        - TIME_BOUND
      durationPeriod:
        required: false
        displayName: durationPeriod
        description: The consent duration in days from day of original grant
        type: integer
        format: int32
      lookbackPeriod:
        required: false
        displayName: lookbackPeriod
        description: Period, in days, for which historical data may be requested; measured from request time, not grant time
        type: integer
        format: int32
      resources:
        required: false
        displayName: resources
        description: The permissioned resource entities
        type: array
        items:
          type: ConsentGrantResourceentity
      links:
        required: false
        displayName: links
        description: Links for related Consent Grant records
        type: array
        items:
          type: HATEOASLink
  ConsentGrantResourceentity:
    displayName: ConsentGrantResourceentity
    description: Entity of permissioned resources
    type: object
    properties:
      resourceType:
        required: true
        displayName: resourceType
        description: Type of resource to be permissioned
        type: string
        enum:
        - ACCOUNT
        - CUSTOMER
        - DOCUMENT
      resourceId:
        required: true
        displayName: resourceId
        description: Identifier of resource to be permissioned
        type: string
        maxLength: 256
      dataClusters:
        required: true
        displayName: dataClusters
        description: Names of clusters of data elements permissioned
        type: array
        uniqueItems: false
        minItems: 1
        items:
          type: string
          enum:
          - ACCOUNT_BASIC
          - ACCOUNT_DETAILED
          - ACCOUNT_PAYMENTS
          - BILLS
          - CUSTOMER_CONTACT
          - CUSTOMER_PERSONAL
          - IMAGES
          - INVESTMENTS
          - NOTIFICATIONS
          - PAYMENT_SUPPORT
          - REWARDS
          - STATEMENTS
          - TAX
          - TRANSACTIONS
  ConsentRequestentity:
    displayName: ConsentRequestentity
    description: Details of request to create new consent grant. This schema is to be used in POST request to Data Provider's `POST /par` endpoint using the Pushed Authorization Request (PAR) method
    type: object
    properties:
      durationType:
        required: false
        displayName: durationType
        description: The type of duration of the consent
        type: string
        enum:
        - ONE_TIME
        - PERSISTENT
        - TIME_BOUND
      durationPeriod:
        required: false
        displayName: durationPeriod
        description: The consent duration in days from day of original grant
        type: integer
        format: int32
      lookbackPeriod:
        required: false
        displayName: lookbackPeriod
        description: Period, in days, for which historical data may be requested; measured from request time, not grant time
        type: integer
        format: int32
      resources:
        required: false
        displayName: resources
        description: The requested resource entities
        type: array
        items:
          type: ConsentRequestedResourceentity
  ConsentRequestedResourceentity:
    displayName: ConsentRequestedResourceentity
    description: Details of requested resource and data clusters
    type: object
    properties:
      resourceType:
        required: true
        displayName: resourceType
        description: Type of resource permission requested
        type: string
        enum:
        - ACCOUNT
        - CUSTOMER
        - DOCUMENT
      dataClusters:
        required: true
        displayName: dataClusters
        description: Names of clusters of data elements requested
        type: array
        uniqueItems: false
        minItems: 1
        items:
          type: string
          enum:
          - ACCOUNT_BASIC
          - ACCOUNT_DETAILED
          - ACCOUNT_PAYMENTS
          - BILLS
          - CUSTOMER_CONTACT
          - CUSTOMER_PERSONAL
          - IMAGES
          - INVESTMENTS
          - NOTIFICATIONS
          - PAYMENT_SUPPORT
          - REWARDS
          - STATEMENTS
          - TAX
          - TRANSACTIONS
  ConsentRevocationentity:
    displayName: ConsentRevocationentity
    description: Details of request to revoke consent grant
    type: object
    properties:
      status:
        required: false
        displayName: status
        description: The status of the consent = REVOKED
        type: string
        enum:
        - ACTIVE
        - EXPIRED
        - REVOKED
      reason:
        required: false
        displayName: reason
        description: The reason for consent revocation
        type: string
        enum:
        - BUSINESS_RULE
        - USER_ACTION
      initiator:
        required: false
        displayName: initiator
        description: The party initiating consent revocation
        type: string
        enum:
        - DATA_ACCESS_PLATFORM
        - DATA_PROVIDER
        - DATA_RECIPIENT
        - INDIVIDUAL
        - MERCHANT
        - VENDOR
      updatedTime:
        required: false
        example:
          value: 2021-07-15T14:46:41.375Z
        displayName: updatedTime
        description: When the consent grant was revoked
        type: datetime
  ConsentRevocationListentity:
    displayName: ConsentRevocationListentity
    description: List of consent grant revocation requests
    type: object
    properties:
      revocations:
        required: false
        displayName: revocations
        description: The list of revocation requests
        type: array
        items:
          type: ConsentRevocationentity
  Consentrevocationrequestentity:
    displayName: Consentrevocationrequestentity
    description: Details of request to revoke consent grant
    type: object
    properties:
      reason:
        required: false
        displayName: reason
        description: The reason for consent revocation
        type: string
        enum:
        - BUSINESS_RULE
        - USER_ACTION
      initiator:
        required: false
        displayName: initiator
        description: The party initiating revocation
        type: string
        enum:
        - DATA_ACCESS_PLATFORM
        - DATA_PROVIDER
        - DATA_RECIPIENT
        - INDIVIDUAL
        - MERCHANT
        - VENDOR
  FDXOAuthTokenIntrospectionResponse:
    displayName: FDXOAuthTokenIntrospectionResponse
    description: FDX response enabling transport of ConsentGrant details extended from [JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens](https://datatracker.ietf.org/doc/html/rfc9068)
    type: object
    properties:
      active:
        required: false
        displayName: active
        description: Flag indicating whether 'ConsentGrant' is active
        type: boolean
      iss:
        required: false
        displayName: iss
        description: Issuer claim 'iss' identifies the principal that issued the JWT. Contains a [StringOrURI](https://datatracker.ietf.org/doc/html/rfc7519#section-2) value
        type: string
      sub:
        required: false
        displayName: sub
        description: Subject claim 'sub' identifies the principal that is the subject of the JWT. Contains a [StringOrURI](https://datatracker.ietf.org/doc/html/rfc7519#section-2) value
        type: string
      aud:
        required: false
        displayName: aud
        description: Audience claim 'aud' identifies the recipients for whom the JWT is intended. May be a single StringOrURI value or an array of [StringOrURI](https://datatracker.ietf.org/doc/html/rfc7519#section-2) values
        type: string
      exp:
        required: false
        displayName: exp
        description: Expiration Time claim 'exp' identifies the time on or after which the JWT MUST NOT be accepted Contains a number which is a [NumericDate](https://datatracker.ietf.org/doc/html/rfc7519#section-2) value
        type: number
        format: double
      iat:
        required: false
        displayName: iat
        description: Issued At claim 'iat' identifies the time at which the JWT was issued. Contains a number which is a [NumericDate](https://datatracker.ietf.org/doc/html/rfc7519#section-2) value
        type: number
        format: double
      jti:
        required: false
        displayName: jti
        description: JWT ID claim 'jti' provides a unique identifier for the JWT. Contains a case-sensitive string value
        type: string
      client_id:
        required: false
        displayName: client_id
        description: The unique client identifier for the Data Recipient granted the consent
        type: string
      scope:
        required: false
        displayName: scope
        description: Space-delimited array of any number of scopes from those in FdxOauthScope, plus 'openid' and 'offline_access'
        type: string
      fdxConsentId:
        required: false
        displayName: fdxConsentId
        description: Unique ID for a consent grant
        type: string
        maxLength: 256
  FDXJWTProfile:
    displayName: FDXJWTProfile
    description: FDX JWT Profile enabling transport of ConsentGrant details in OAuth 'access_token', extended from [JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens](https://datatracker.ietf.org/doc/html/rfc9068)
    type: object
    properties:
      iss:
        required: false
        displayName: iss
        description: Issuer claim 'iss' identifies the principal that issued the JWT. Contains a [StringOrURI](https://datatracker.ietf.org/doc/html/rfc7519#section-2) value
        type: string
      sub:
        required: false
        displayName: sub
        description: Subject claim 'sub' identifies the principal that is the subject of the JWT. Contains a [StringOrURI](https://datatracker.ietf.org/doc/html/rfc7519#section-2) value
        type: string
      aud:
        required: false
        displayName: aud
        description: Audience claim 'aud' identifies the recipients for whom the JWT is intended. May be a single StringOrURI value or an array of [StringOrURI](https://datatracker.ietf.org/doc/html/rfc7519#section-2) values
        type: string
      exp:
        required: false
        displayName: exp
        description: Expiration Time claim 'exp' identifies the time on or after which the JWT MUST NOT be accepted Contains a number which is a [NumericDate](https://datatracker.ietf.org/doc/html/rfc7519#section-2) value
        type: number
        format: double
      iat:
        required: false
        displayName: iat
        description: Issued At claim 'iat' identifies the time at which the JWT was issued. Contains a number which is a [NumericDate](https://datatracker.ietf.org/doc/html/rfc7519#section-2) value
        type: number
        format: double
      jti:
        required: false
        displayName: jti
        description: JWT ID claim 'jti' provides a unique identifier for the JWT. Contains a case-sensitive string value
        type: string
      client_id:
        required: false
        displayName: client_id
        description: The unique client identifier for the Data Recipient granted the consent
        type: string
      scope:
        required: false
        displayName: scope
        description: Space-delimited array of any number of scopes from those in FdxOauthScope, plus 'openid' and 'offline_access'
        type: string
      fdxConsentId:
        required: false
        displayName: fdxConsentId
        description: Unique ID for a consent grant
        type: string
        maxLength: 256
  Error1:
    displayName: Error1
    description: An error entity which can be used at the API level for error responses or at the account level to indicate a problem specific to a particular account. See the error codes and descriptions defined in the latest FDX API Specification document, section 6.2 Errors
    type: object
    properties:
      code:
        required: false
        displayName: code
        description: Error code defined by FDX API Specification or Data Provider indicating the error situation which has occurred
        type: string
      message:
        required: false
        displayName: message
        description: End user displayable information which might help the customer diagnose an error
        type: string
      debugMessage:
        required: false
        displayName: debugMessage
        description: Message used to debug the root cause of the error. Contents should not be used in consumer's business logic. Can change at any time and should only be used for consumer to communicate with the data provider about an issue. Provider can include an error GUID in message for their use.
        type: string
  HATEOASLink:
    displayName: HATEOASLink
    description: REST application constraint (Hypermedia As The Engine Of Application State)
    type: object
    properties:
      href:
        required: true
        example:
          value: https://api.fi.com/fdx/v4/accounts/12345
        displayName: href
        description: URL to invoke the action on the resource
        type: string
      action:
        required: false
        displayName: action
        description: HTTP Method to use for the request
        type: string
        enum:
        - DELETE
        - GET
        - PATCH
        - POST
        - PUT
      rel:
        required: false
        displayName: rel
        description: Relation of this link to its containing entity, as defined by and with many example relation values at [IETF RFC5988](https://datatracker.ietf.org/doc/html/rfc5988)
        type: string
      types:
        required: false
        displayName: types
        description: Content-types that can be used in the Accept header
        type: array
        items:
          type: string
          enum:
          - application/json
          - application/pdf
          - application/zip
          - image/gif
          - image/jpeg
          - image/png
          - image/tiff
  Partyentity:
    displayName: Partyentity
    description: FDX Participant - an entity or person that is a part of a FDX API transaction
    type: object
    properties:
      name:
        required: true
        displayName: name
        description: Human recognizable common name
        type: string
      type:
        required: true
        displayName: type
        description: Extensible string enum identifying the type of the party
        type: string
        enum:
        - DATA_ACCESS_PLATFORM
        - DATA_PROVIDER
        - DATA_RECIPIENT
        - INDIVIDUAL
        - MERCHANT
        - VENDOR
      homeUri:
        required: false
        displayName: homeUri
        description: URI for party, where an end user could learn more about the company or application involved in the data sharing chain
        type: string
      logoUri:
        required: false
        displayName: logoUri
        description: URI for a logo asset to be displayed to the end user
        type: string
      registry:
        required: false
        displayName: registry
        description: "The registry containing the party's registration with name and id: FDX, GLEIF, ICANN, PRIVATE"
        type: string
        enum:
        - FDX
        - GLEIF
        - ICANN
        - PRIVATE
      registeredEntityName:
        required: false
        displayName: registeredEntityName
        description: Registered name of party
        type: string
      registeredEntityId:
        required: false
        displayName: registeredEntityId
        description: Registered id of party
        type: string
  Accountentity:
    displayName: Accountentity
    description: An abstract account entity that concrete account entities extend
    type: AccountDescriptorentity
    discriminatorValue: Account entity
    properties:
      parentAccountId:
        required: false
        displayName: parentAccountId
        description: Long-term persistent identity of the parent account. This is used to group accounts
        type: string
        maxLength: 256
      lineOfBusiness:
        required: false
        displayName: lineOfBusiness
        description: The line of business, such as consumer, consumer joint, small business, corporate, etc.
        type: string
      routingTransitNumber:
        required: false
        displayName: routingTransitNumber
        description: The routing transit number (RTN) associated with the account number at the owning institution. This also serves as the 3-digit Institution (FID) and 5-digit Transit numbers for Canadian institutions, including leading zeroes
        type: string
      balanceType:
        required: false
        displayName: balanceType
        description: ASSET (positive transaction amount increases balance), LIABILITY (positive transaction amount decreases balance)
        type: string
        enum:
        - ASSET
        - LIABILITY
      contact:
        required: false
        displayName: contact
        description: Contact information associated with this account
        type: AccountContactentity2
      interestRate:
        required: false
        displayName: interestRate
        description: Interest Rate of Account
        type: number
        format: double
      interestRateType:
        required: false
        displayName: interestRateType
        description: FIXED or VARIABLE
        type: string
        enum:
        - FIXED
        - VARIABLE
      interestRateAsOf:
        required: false
        example:
          value: 2021-07-15T14:46:41.375Z
        displayName: interestRateAsOf
        description: Date of account's interest rate
        type: datetime
      priorInterestRate:
        required: false
        displayName: priorInterestRate
        description: Previous Interest Rate of Account
        type: number
        format: double
      interestRateIndex:
        required: false
        displayName: interestRateIndex
        description: Variable rate index name such as EONIA, EURIBOR, EURREPO, FEFUND, LIBOR, PRIME, SOFR, SONIA, etc.
        type: string
      earlyPenaltyFlag:
        required: false
        displayName: earlyPenaltyFlag
        description: Flag that indicates if there is an early penalty for withdrawal/payoff
        type: boolean
      transferIn:
        required: false
        displayName: transferIn
        description: Account is eligible for incoming transfers
        type: boolean
      transferOut:
        required: false
        displayName: transferOut
        description: Account is eligible for outgoing transfers
        type: boolean
      billPayStatus:
        required: false
        displayName: billPayStatus
        description: Defines account's ability to participate in bill payments
        type: string
        enum:
        - ACTIVE
        - AVAILABLE
        - NOT_AVAILABLE
        - PENDING
      micrNumber:
        required: false
        displayName: micrNumber
        description: MICR Number
        type: string
        maxLength: 64
      lastActivityDate:
        required: false
        example:
          value: 2021-07-15
        displayName: lastActivityDate
        description: Date that last transaction occurred on account
        type: date-only
      rewardProgramId:
        required: false
        displayName: rewardProgramId
        description: Long-term persistent identity of rewards program associated with this account
        type: string
        maxLength: 256
      transactionsIncluded:
        required: false
        displayName: transactionsIncluded
        description: Default is false. If present and true, a call to retrieve transactions will not return any further details about this account. This is an optimization that allows an FDX API server to return transactions and account details in a single call
        type: boolean
      domicile:
        required: false
        displayName: domicile
        description: The country and region of the account's legal jurisdiction
        type: Domicileentity1
  AccountContactentity:
    displayName: AccountContactentity
    description: Contact information for the account
    type: object
    properties:
      emails:
        required: false
        displayName: emails
        description: Array of the contact email addresses
        type: array
        items:
          type: string
      addresses:
        required: false
        displayName: addresses
        description: Array of the contact physical addresses
        type: array
        items:
          type: DeliveryAddress
      telephones:
        required: false
        displayName: telephones
        description: Array of the contact telephone numbers
        type: array
        items:
          type: TelephoneNumber
      holders:
        required: false
        displayName: holders
        description: Owners of the account
        type: array
        items:
          type: AccountHolderentity
  AccountDescriptorentity:
    displayName: AccountDescriptorentity
    description: This descriptor provides minimal information about the account for use in lightweight arrays
    type: object
    discriminator: accountCategory
    discriminatorValue: Account Descriptor entity
    properties:
      accountCategory:
        required: false
        displayName: accountCategory
        type: string
      accountId:
        required: false
        displayName: accountId
        description: Long-term persistent identity of the account, though not an account number. This identity must be unique to the owning institution
        type: string
        maxLength: 256
      error:
        required: false
        displayName: error
        description: Present if an error was encountered while retrieving this account
        type: Error1
      accountType:
        required: false
        displayName: accountType
        description: Account type
        type: string
        enum:
        - 401A
        - 401K
        - 403B
        - "'529'"
        - ANNUITY
        - AUTOLOAN
        - BROKERAGEPRODUCT
        - CD
        - CHARGE
        - CHECKING
        - COMMERCIALDEPOSIT
        - COMMERCIALINVESTMENT
        - COMMERCIALLINEOFCREDIT
        - COMMERCIALLOAN
        - COVERDELL
        - CREDITCARD
        - DEFERREDPROFITSHARINGPLAN
        - DEFINEDBENEFIT
        - DIGITALASSET
        - DIGITALWALLET
        - ESCROW
        - ESOP
        - FIXEDANNUITY
        - GUARDIAN
        - HOMEEQUITYLOAN
        - HOMELINEOFCREDIT
        - INDIVIDUALPENSIONPLAN
        - INSTALLMENT
        - INSTITUTIONALTRUST
        - INVESTMENTACCOUNT
        - IRA
        - KEOGH
        - LIFEINCOMEFUND
        - LINEOFCREDIT
        - LOAN
        - LOCKEDINRETIREMENTACCOUNT
        - LOCKEDINRETIREMENTINCOMEFUND
        - LOCKEDINRETIREMENTSAVINGSPLAN
        - LONGTERMDISABILITY
        - MILITARYLOAN
        - MONEYMARKET
        - MORTGAGE
        - NONQUALIFIEDPLAN
        - OTHERDEPOSIT
        - OTHERINVESTMENT
        - PERSONALLOAN
        - POOLEDREGISTEREDPENSIONPLAN
        - PREPAID
        - PRESCRIBEDREGISTEREDRETIREMENTINCOMEFUND
        - REGISTEREDDISABILITYSAVINGSPLAN
        - REGISTEREDEDUCATIONSAVINGSPLAN
        - REGISTEREDPENSIONPLAN
        - REGISTEREDRETIREMENTINCOMEFUND
        - REGISTEREDRETIREMENTSAVINGSPLAN
        - RESTRICTEDLIFEINCOMEFUND
        - RESTRICTEDLOCKEDINSAVINGSPLAN
        - ROLLOVER
        - ROTH
        - SARSEP
        - SAVINGS
        - SHORTTERMDISABILITY
        - SMBLOAN
        - SPECIFIEDPENSIONPLAN
        - STUDENTLOAN
        - TAXABLE
        - TAXFREESAVINGSACCOUNT
        - TDA
        - TERM
        - TRUST
        - UGMA
        - UNIVERSALLIFE
        - UTMA
        - VARIABLEANNUITY
        - WHOLELIFE
      accountNumber:
        required: false
        displayName: accountNumber
        description: Full account number for the end user for this account at the owning institution. If not masked this is sensitive data which should only be exchanged if encrypted. For detailed information on implementing encryption see "Part 4 End to End Encryption" of the FDX API Security Model document in the Security section of the latest FDX Release download
        type: string
      accountNumberDisplay:
        required: false
        displayName: accountNumberDisplay
        description: Account display number for the end user's handle at the owning institution. This is to be displayed by the Interface Provider
        type: string
      productName:
        required: false
        displayName: productName
        description: Marketed product name for this account. Used in UIs to assist in account selection
        type: string
      nickname:
        required: false
        displayName: nickname
        description: Name given by the user. Used in UIs to assist in account selection
        type: string
      status:
        required: false
        displayName: status
        description: 'Account status. Suggested values are: OPEN, CLOSED, PENDINGOPEN, PENDINGCLOSE, PAID, DELINQUENT, NEGATIVECURRENTBALANCE, RESTRICTED'
        type: string
        enum:
        - CLOSED
        - DELINQUENT
        - NEGATIVECURRENTBALANCE
        - OPEN
        - PAID
        - PENDINGCLOSE
        - PENDINGOPEN
        - RESTRICTED
      description:
        required: false
        displayName: description
        description: Description of account
        type: string
      accountOpenDate:
        required: false
        example:
          value: 2021-07-15
        displayName: accountOpenDate
        description: Account opening date
        type: date-only
      accountCloseDate:
        required: false
        example:
          value: 2021-07-15
        displayName: accountCloseDate
        description: Account closing date
        type: date-only
      currency:
        required: false
        displayName: currency
        description: Account currency
        type: Currencyentity4
      fiAttributes:
        required: false
        displayName: fiAttributes
        description: Array of Financial institution-specific attributes
        type: array
        items:
          type: FIAttributeentity
  AccountHolderentity:
    displayName: AccountHolderentity
    description: Extends `Customer` and adds a `relationship` field to define the customer's relationship with an account
    type: object
    properties:
      emails:
        required: false
        displayName: emails
        description: Array of the contact email addresses
        type: array
        items:
          type: string
      addresses:
        required: false
        displayName: addresses
        description: Array of the contact physical addresses
        type: array
        items:
          type: DeliveryAddress
      telephones:
        required: false
        displayName: telephones
        description: Array of the contact telephone numbers
        type: array
        items:
          type: TelephoneNumber
      dateOfBirth:
        required: false
        example:
          value: 2021-07-15
        displayName: dateOfBirth
        description: The person's date of birth
        type: date-only
      taxId:
        required: false
        displayName: taxId
        description: Country specific Tax Id associated with this customer (SIN or NAS in Canada, SSN or TIN in US, etc.)
        type: string
      taxIdCountry:
        required: false
        displayName: taxIdCountry
        description: Country originating the Customer's taxId element
        type: string
        enum:
        - AD
        - AE
        - AF
        - AG
        - AI
        - AL
        - AM
        - AO
        - AQ
        - AR
        - AS
        - AT
        - AU
        - AW
        - AX
        - AZ
        - BA
        - BB
        - BD
        - BE
        - BF
        - BG
        - BH
        - BI
        - BJ
        - BL
        - BM
        - BN
        - BO
        - BQ
        - BR
        - BS
        - BT
        - BV
        - BW
        - BY
        - BZ
        - CA
        - CC
        - CD
        - CF
        - CG
        - CH
        - CI
        - CK
        - CL
        - CM
        - CN
        - CO
        - CR
        - CU
        - CV
        - CW
        - CX
        - CY
        - CZ
        - DE
        - DJ
        - DK
        - DM
        - DO
        - DZ
        - EC
        - EE
        - EG
        - EH
        - ER
        - ES
        - ET
        - FI
        - FJ
        - FK
        - FM
        - FO
        - FR
        - GA
        - GB
        - GD
        - GE
        - GF
        - GG
        - GH
        - GI
        - GL
        - GM
        - GN
        - GP
        - GQ
        - GR
        - GS
        - GT
        - GU
        - GW
        - GY
        - HK
        - HM
        - HN
        - HR
        - HT
        - HU
        - ID
        - IE
        - IL
        - IM
        - IN
        - IO
        - IQ
        - IR
        - IS
        - IT
        - JE
        - JM
        - JO
        - JP
        - KE
        - KG
        - KH
        - KI
        - KM
        - KN
        - KP
        - KR
        - KW
        - KY
        - KZ
        - LA
        - LB
        - LC
        - LI
        - LK
        - LR
        - LS
        - LT
        - LU
        - LV
        - LY
        - MA
        - MC
        - MD
        - ME
        - MF
        - MG
        - MH
        - MK
        - ML
        - MM
        - MN
        - MO
        - MP
        - MQ
        - MR
        - MS
        - MT
        - MU
        - MV
        - MW
        - MX
        - MY
        - MZ
        - NA
        - NC
        - NE
        - NF
        - NG
        - NI
        - NL
        - NO
        - NP
        - NR
        - NU
        - NZ
        - OM
        - PA
        - PE
        - PF
        - PG
        - PH
        - PK
        - PL
        - PM
        - PN
        - PR
        - PS
        - PT
        - PW
        - PY
        - QA
        - RE
        - RO
        - RS
        - RU
        - RW
        - SA
        - SB
        - SC
        - SD
        - SE
        - SG
        - SH
        - SI
        - SJ
        - SK
        - SL
        - SM
        - SN
        - SO
        - SR
        - SS
        - ST
        - SV
        - SX
        - SY
        - SZ
        - TC
        - TD
        - TF
        - TG
        - TH
        - TJ
        - TK
        - TL
        - TM
        - TN
        - TO
        - TR
        - TT
        - TV
        - TW
        - TZ
        - UA
        - UG
        - UM
        - US
        - UY
        - UZ
        - VA
        - VC
        - VE
        - VG
        - VI
        - VN
        - VU
        - WF
        - WS
        - YE
        - YT
        - ZA
        - ZM
        - ZW
      governmentId:
        required: false
        displayName: governmentId
        description: A federal (such as passport) or state (such as driver's license) issued identifier
        type: string
      customerId:
        required: false
        displayName: customerId
        description: Long-term persistent identity of the customer. This identity must be unique to the owning institution
        type: string
        maxLength: 256
      type:
        required: false
        displayName: type
        description: Type of entity. One of BUSINESS or CONSUMER
        type: string
        enum:
        - BUSINESS
        - CONSUMER
      name:
        required: false
        displayName: name
        description: The customer's name
        type: CustomerNameentity
      businessCustomer:
        required: false
        displayName: businessCustomer
        description: The business customer information, only used if 'type' is 'BUSINESS'.
        type: BusinessCustomerentity
      customerStartDate:
        required: false
        example:
          value: 2021-07-15
        displayName: customerStartDate
        description: The customer's start date at the financial institution
        type: date-only
      lastActivityDate:
        required: false
        example:
          value: 2021-07-15
        displayName: lastActivityDate
        description: The customer's date of last account activity at the financial institution
        type: date-only
      accounts:
        required: false
        displayName: accounts
        description: List of accounts related to this customer
        type: array
        items:
          type: CustomertoAccountRelationshipentity
      relationship:
        required: false
        displayName: relationship
        description: Customer's relationship to the account
        type: string
        enum:
        - AUTHORIZED_USER
        - BUSINESS
        - FOR_BENEFIT_OF
        - FOR_BENEFIT_OF_PRIMARY
        - FOR_BENEFIT_OF_PRIMARY_JOINT_RESTRICTED
        - FOR_BENEFIT_OF_SECONDARY
        - FOR_BENEFIT_OF_SECONDARY_JOINT_RESTRICTED
        - FOR_BENEFIT_OF_SOLE_OWNER_RESTRICTED
        - POWER_OF_ATTORNEY
        - PRIMARY
        - PRIMARY_BORROWER
        - PRIMARY_JOINT
        - PRIMARY_JOINT_TENANTS
        - SECONDARY
        - SECONDARY_BORROWER
        - SECONDARY_JOINT
        - SECONDARY_JOINT_TENANTS
        - SOLE_OWNER
        - TRUSTEE
        - UNIFORM_TRANSFER_TO_MINOR
  PaymentNetworkSupportedbyAccount:
    displayName: PaymentNetworkSupportedbyAccount
    description: This provides details required to execute a transaction against the account within the payment network
    type: object
    properties:
      bankId:
        required: false
        displayName: bankId
        description: Bank identifier used by the payment network. Typically the 9-digit routing transit number (RTN) associated with the account number at a US institution, or the 3-digit Institution (FID) and 5-digit Transit numbers for Canadian institutions, including leading zeroes
        type: string
      identifier:
        required: false
        displayName: identifier
        description: The number used to identify the account within the payment network. If identifierType is ACCOUNT_NUMBER, this is the account number; if identifierType is TOKENIZED_ACCOUNT_NUMBER, this is a tokenized account number
        type: string
      identifierType:
        required: false
        displayName: identifierType
        description: Type of identifier, ACCOUNT_NUMBER or TOKENIZED_ACCOUNT_NUMBER
        type: string
        enum:
        - ACCOUNT_NUMBER
        - TOKENIZED_ACCOUNT_NUMBER
      type:
        required: false
        displayName: type
        description: Type of Canadian or U.S. payment network, CA_ACSS, CA_LVTS, US_ACH, US_CHIPS, US_FEDWIRE, US_RTP
        type: string
        enum:
        - CA_ACSS
        - CA_LVTS
        - US_ACH
        - US_CHIPS
        - US_FEDNOW
        - US_FEDWIRE
        - US_RTP
      transferIn:
        required: false
        displayName: transferIn
        description: Can transfer funds to the account using this information
        type: boolean
      transferOut:
        required: false
        displayName: transferOut
        description: Can transfer funds from the account using this information
        type: boolean
      supportsRequestForPayment:
        required: false
        displayName: supportsRequestForPayment
        description: Can receive Request for Payments
        type: boolean
      transferLimits:
        required: false
        displayName: transferLimits
        description: The amount limits for transfers
        type: Incomingandoutgoingtransferlimits2
  Arrayofaccountpaymentnetworks:
    displayName: Arrayofaccountpaymentnetworks
    description: An optionally paginated array of payment networks supported by the account
    type: object
    properties:
      page:
        required: false
        displayName: page
        description: Offset IDs for navigating result sets
        type: PageMetadata
      links:
        required: false
        displayName: links
        description: Resource URLs for navigating result sets
        type: PageMetadataLinks
      paymentNetworks:
        required: false
        displayName: paymentNetworks
        description: Array of payment networks
        type: array
        items:
          type: PaymentNetworkSupportedbyAccount
  Accountsentity:
    displayName: Accountsentity
    description: An optionally paginated array of accounts
    type: object
    properties:
      page:
        required: false
        displayName: page
        description: Offset IDs for navigating result sets
        type: PageMetadata
      links:
        required: false
        displayName: links
        description: Resource URLs for navigating result sets
        type: PageMetadataLinks
      accounts:
        required: false
        displayName: accounts
        description: An array of accounts with entity types dependent on the account type (deposit, investment, loan, line of credit, annuity, insurance, commercial, or digital wallet)
        type: array
        items:
          type: any
  AnnuityAccountentity:
    displayName: AnnuityAccountentity
    description: An annuity account type
    type: Accountentity
    discriminatorValue: Annuity Account entity
    properties:
      payoutType:
        required: false
        displayName: payoutType
        description: Indicates type of payout such as immediate or deferred
        type: string
        enum:
        - DEFERRED
        - IMMEDIATE
      policyProductType:
        required: false
        displayName: policyProductType
        description: The type of annuity product, e.g. Fixed or Variable
        type: string
        enum:
        - FIXED
        - VARIABLE
      payoutAmount:
        required: false
        displayName: payoutAmount
        description: Amount paid out, based on mode frequency
        type: number
        format: double
      payoutMode:
        required: false
        displayName: payoutMode
        description: Frequency of annuity payments
        type: string
        enum:
        - ANNUALLY
        - BIWEEKLY
        - DAILY
        - MONTHLY
        - SEMIANNUALLY
        - SEMIMONTHLY
        - WEEKLY
      payoutStartDate:
        required: false
        example:
          value: 2021-07-15
        displayName: payoutStartDate
        description: Date the payout starts
        type: date-only
      payoutEndDate:
        required: false
        example:
          value: 2021-07-15
        displayName: payoutEndDate
        description: Date the payout ends
        type: date-only
      numberModalPayouts:
        required: false
        displayName: numberModalPayouts
        description: Total number of payouts
        type: integer
        format: int32
      surrenderValue:
        required: false
        displayName: surrenderValue
        description: Cash surrender value (net) available if contract is surrendered
        type: number
        format: double
      payoutChangePercentage:
        required: false
        displayName: payoutChangePercentage
        description: Percentage of the accumulated value to be paid to the payee each year; used exclusive of payoutChangeAmount
        type: number
        format: double
      payoutChangeAmount:
        required: false
        displayName: payoutChangeAmount
        description: Incremental modal amount (positive or negative) by which the payout amount will be changed; used exclusive of payoutPercentage
        type: number
        format: double
      periodCertainType:
        required: false
        displayName: periodCertainType
        description: The number of modal periods comprising the duration of the certain period of an annuity payout
        type: string
        enum:
        - 5_YEAR
        - 10_YEAR
        - 20_YEAR
        - 30_YEAR
        - NONE
  AssetTransferNetwork:
    displayName: AssetTransferNetwork
    description: Information required to facilitate asset transfer from this account
    type: object
    properties:
      identifier:
        required: false
        displayName: identifier
        description: The number used to identify the account within the asset transfer network. If identifierType is ACCOUNT_NUMBER, this is the account number; if identifierType is TOKENIZED_ACCOUNT_NUMBER, this is a tokenized account number
        type: string
      identifierType:
        required: false
        displayName: identifierType
        description: Type of identifier
        type: string
        enum:
        - ACCOUNT_NUMBER
        - TOKENIZED_ACCOUNT_NUMBER
      institutionName:
        required: false
        displayName: institutionName
        description: The name of the institution holding the account
        type: string
      institutionId:
        required: false
        displayName: institutionId
        description: Institution identifier used by the asset transfer network ie. the Depository Trust and Clearing Corporation code for the institution holding the account
        type: string
      type:
        required: false
        displayName: type
        description: Type of asset transfer
        type: string
        enum:
        - CA_ATON
        - US_ACATS
        - US_DTC
      jointAccount:
        required: false
        displayName: jointAccount
        description: Whether this account has joint owners
        type: boolean
  AssetTransferNetworkList:
    displayName: AssetTransferNetworkList
    description: An array of asset transfer network details for this account
    type: object
    properties:
      assetTransferNetworks:
        required: false
        displayName: assetTransferNetworks
        description: Array of asset transfer networks
        type: array
        items:
          type: AssetTransferNetwork
  Billsentity:
    displayName: Billsentity
    description: The payments due on an account
    type: object
    properties:
      totalPaymentDue:
        required: false
        displayName: totalPaymentDue
        description: Total payment due or next payment due.  Monthly payment due for loans
        type: number
        format: double
      minimumPaymentDue:
        required: false
        displayName: minimumPaymentDue
        description: The minimum amount which is due
        type: number
        format: double
      dueDate:
        required: false
        example:
          value: 2021-07-15
        displayName: dueDate
        description: The date that the payment is due
        type: date-only
      autoPayEnabled:
        required: false
        displayName: autoPayEnabled
        description: Whether the user's bill is paid automatically
        type: boolean
      autoPayAmount:
        required: false
        displayName: autoPayAmount
        description: The amount of money the user has set to autopay this bill
        type: number
        format: double
      autoPayDate:
        required: false
        example:
          value: 2021-07-15
        displayName: autoPayDate
        description: The date the autopayment is set to trigger for this bill
        type: date-only
      pastDueAmount:
        required: false
        displayName: pastDueAmount
        description: The amount that the user should have already paid. The value is negative if user owes money
        type: number
        format: double
      lastPaymentAmount:
        required: false
        displayName: lastPaymentAmount
        description: The amount of the most recent payment
        type: number
        format: double
      lastPaymentDate:
        required: false
        example:
          value: 2021-07-15
        displayName: lastPaymentDate
        description: The date of most recent payment
        type: date-only
      statementBalance:
        required: false
        displayName: statementBalance
        description: The amount of the last statement.  The value is negative if the user owes money
        type: number
        format: double
      statementDate:
        required: false
        example:
          value: 2021-07-15
        displayName: statementDate
        description: The date the statement was issued
        type: date-only
  CardArtentity:
    displayName: CardArtentity
    description: Art associated with the card
    type: object
    properties:
      label:
        required: false
        displayName: label
        description: Display label for the specific image
        type: string
      imageUri:
        required: false
        displayName: imageUri
        description: The [URI](https://datatracker.ietf.org/doc/html/rfc2397) link of a PNG, JPG or GIF image with proportions defined by [ISO 8710 ID-1](https://en.wikipedia.org/wiki/ISO/IEC_7810) with 340x210 ratio and width no greater than 512 pixels. The image at this URI must be accessible at all times, with no additional authentication headers. Typically this is an image resource located in the data provider's public web site or Content Delivery Network
        type: string
  CommercialAccountentity:
    displayName: CommercialAccountentity
    description: Information for a commercial account type
    type: Accountentity
    discriminatorValue: Commercial Account entity
    properties:
      balanceAsOf:
        required: false
        example:
          value: 2021-07-15T14:46:41.375Z
        displayName: balanceAsOf
        description: As-of date of balances
        type: datetime
      openingLedgerBalance:
        required: false
        displayName: openingLedgerBalance
        description: Opening ledger balance
        type: number
        format: double
      closingLedgerBalance:
        required: false
        displayName: closingLedgerBalance
        description: Closing ledger balance
        type: number
        format: double
      currentLedgerBalance:
        required: false
        displayName: currentLedgerBalance
        description: Current ledger balance
        type: number
        format: double
      openingAvailableBalance:
        required: false
        displayName: openingAvailableBalance
        description: Opening available balance
        type: number
        format: double
      currentAvailableBalance:
        required: false
        displayName: currentAvailableBalance
        description: Current available balance
        type: number
        format: double
      closingAvailableBalance:
        required: false
        displayName: closingAvailableBalance
        description: Closing available balance
        type: number
        format: double
      nextDayAvailableBalance:
        required: false
        displayName: nextDayAvailableBalance
        description: Next day's available balance
        type: number
        format: double
      twoDaysPlusAvailableBalance:
        required: false
        displayName: twoDaysPlusAvailableBalance
        description: Two days out's available balance
        type: number
        format: double
      numberOfOutstandingCredits:
        required: false
        displayName: numberOfOutstandingCredits
        description: Number of outstanding credit transactions
        type: integer
        format: int32
      outstandingCreditsAmount:
        required: false
        displayName: outstandingCreditsAmount
        description: Total amount of outstanding credits
        type: number
        format: double
      numberOfOutstandingDebits:
        required: false
        displayName: numberOfOutstandingDebits
        description: Number of outstanding debit transactions
        type: integer
        format: int32
      outstandingDebitsAmount:
        required: false
        displayName: outstandingDebitsAmount
        description: Total amount of outstanding debits
        type: number
        format: double
      transactions:
        required: false
        displayName: transactions
        description: Transactions on the commercial account
        type: array
        items:
          type: CommercialTransactionentity
      commercialBalances:
        required: false
        displayName: commercialBalances
        description: A list of specific treasury management defined balances
        type: array
        items:
          type: CommercialBalanceentity
  CommercialBalanceentity:
    displayName: CommercialBalanceentity
    description: A specific treasury management defined balance
    type: object
    properties:
      commercialCode:
        required: false
        displayName: commercialCode
        description: The code for a specific treasury management defined field
        type: CommercialCodeentity1
      amount:
        required: false
        displayName: amount
        description: The treasury management balance amount
        type: number
        format: double
      memo:
        required: false
        displayName: memo
        description: Memo field for the treasury management balance amount
        type: string
  CommercialCodeentity:
    displayName: CommercialCodeentity
    description: |
      The code for a specific treasury management defined field.

      The [X9 BTRS/BTR3 standard](https://x9.org/standards/btrs/) (formerly named BAI2) for corporate and treasury data elements is proposed to provide the basis of (or starting point for) representing summary, account, and transaction codes for the Corp/Treasury Entity, subject to any necessary modifications useful to the members of the FDX consortium and users of the API specification
    type: object
    properties:
      type:
        required: false
        displayName: type
        description: The source of Treasury Management account definition; one of BAI, BTRS, ISO, SWIFT
        type: string
        enum:
        - BAI
        - BTRS
        - ISO
        - SWIFT
      code:
        required: false
        displayName: code
        description: The code of the Treasury Management defined field
        type: string
  CommercialTransactionentity:
    displayName: CommercialTransactionentity
    description: A transaction on a commercial account type
    type: Transaction
    discriminatorValue: Commercial Transaction entity
    properties:
      immediateAvailableBalance:
        required: false
        displayName: immediateAvailableBalance
        description: Immediate available balance
        type: number
        format: double
      nextDayAvailableBalance:
        required: false
        displayName: nextDayAvailableBalance
        description: Next day available balance
        type: number
        format: double
      twoDaysPlusAvailableBalance:
        required: false
        displayName: twoDaysPlusAvailableBalance
        description: Two days plus available balance
        type: number
        format: double
      referenceBankId:
        required: false
        displayName: referenceBankId
        description: Reference bank id
        type: string
      referenceBranchId:
        required: false
        displayName: referenceBranchId
        description: Reference branch id
        type: string
      referenceCustomerId:
        required: false
        displayName: referenceCustomerId
        description: Reference customer id
        type: string
      commercialCode:
        required: false
        displayName: commercialCode
        description: The code for a specific treasury management defined field
        type: CommercialCodeentity1
      memo:
        required: false
        displayName: memo
        description: Memo field for the commercial transaction
        type: string
  Contributionentity:
    displayName: Contributionentity
    description: Contribution information to an investment account
    type: object
    properties:
      securityId:
        required: false
        displayName: securityId
        description: Unique identifier of security
        type: string
      securityIdType:
        required: false
        displayName: securityIdType
        description: CINS, CMC, CME, CUSIP, ISIN, ITSA, NASDAQ, SEDOL, SICC, VALOR, WKN
        type: string
        enum:
        - CINS
        - CMC
        - CME
        - CUSIP
        - ISIN
        - ITSA
        - NASDAQ
        - SEDOL
        - SICC
        - VALOR
        - WKN
      employerMatchPercentage:
        required: false
        displayName: employerMatchPercentage
        description: Employer contribution match percentage
        type: number
        format: double
      employerMatchAmount:
        required: false
        displayName: employerMatchAmount
        description: Employer contribution match amount
        type: number
        format: double
      employeePreTaxAmount:
        required: false
        displayName: employeePreTaxAmount
        description: Employee pre-tax contribution amount
        type: number
        format: double
      employeePreTaxPercentage:
        required: false
        displayName: employeePreTaxPercentage
        description: Employee pre-tax contribution percentage
        type: number
        format: double
      employeeAfterTaxAmount:
        required: false
        displayName: employeeAfterTaxAmount
        description: Employee after tax contribution amount
        type: number
        format: double
      employeeAfterTaxPercentage:
        required: false
        displayName: employeeAfterTaxPercentage
        description: Employee after tax contribution percentage
        type: number
        format: double
      employeeDeferPreTaxAmount:
        required: false
        displayName: employeeDeferPreTaxAmount
        description: Employee defer pre-tax contribution match amount
        type: number
        format: double
      employeeDeferPreTaxPercentage:
        required: false
        displayName: employeeDeferPreTaxPercentage
        description: Employee defer pre-tax contribution match percentage
        type: number
        format: double
      employeeYearToDate:
        required: false
        displayName: employeeYearToDate
        description: Employee total year to date contribution
        type: number
        format: double
      employerYearToDate:
        required: false
        displayName: employerYearToDate
        description: Employer total year to date contribution
        type: number
        format: double
      rolloverContributionPercentage:
        required: false
        displayName: rolloverContributionPercentage
        description: Rollover contribution percentage
        type: number
        format: double
      rolloverContributionAmount:
        required: false
        displayName: rolloverContributionAmount
        description: Rollover contribution Amount
        type: number
        format: double
  Currencyentity:
    displayName: Currencyentity
    description: Represents an international currency
    type: object
    properties:
      currencyRate:
        required: false
        displayName: currencyRate
        description: Currency rate between original and converted currency
        type: number
        format: double
      currencyCode:
        required: false
        displayName: currencyCode
        description: ISO 4217 currency code
        type: string
        enum:
        - AED
        - AFN
        - ALL
        - AMD
        - ANG
        - AOA
        - ARS
        - AUD
        - AWG
        - AZN
        - BAM
        - BBD
        - BDT
        - BGN
        - BHD
        - BIF
        - BMD
        - BND
        - BOB
        - BOV
        - BRL
        - BSD
        - BTN
        - BWP
        - BYN
        - BZD
        - CAD
        - CDF
        - CHE
        - CHF
        - CHW
        - CLF
        - CLP
        - CNY
        - COP
        - COU
        - CRC
        - CUC
        - CUP
        - CVE
        - CZK
        - DJF
        - DKK
        - DOP
        - DZD
        - EGP
        - ERN
        - ETB
        - EUR
        - FJD
        - FKP
        - GBP
        - GEL
        - GHS
        - GIP
        - GMD
        - GNF
        - GTQ
        - GYD
        - HKD
        - HNL
        - HTG
        - HUF
        - IDR
        - ILS
        - INR
        - IQD
        - IRR
        - ISK
        - JMD
        - JOD
        - JPY
        - KES
        - KGS
        - KHR
        - KMF
        - KPW
        - KRW
        - KWD
        - KYD
        - KZT
        - LAK
        - LBP
        - LKR
        - LRD
        - LSL
        - LYD
        - MAD
        - MDL
        - MGA
        - MKD
        - MMK
        - MNT
        - MOP
        - MRU
        - MUR
        - MVR
        - MWK
        - MXN
        - MXV
        - MYR
        - MZN
        - NAD
        - NGN
        - NIO
        - NOK
        - NPR
        - NZD
        - OMR
        - PAB
        - PEN
        - PGK
        - PHP
        - PKR
        - PLN
        - PYG
        - QAR
        - RON
        - RSD
        - RUB
        - RWF
        - SAR
        - SBD
        - SCR
        - SDG
        - SEK
        - SGD
        - SHP
        - SLE
        - SLL
        - SOS
        - SRD
        - SSP
        - STN
        - SVC
        - SYP
        - SZL
        - THB
        - TJS
        - TMT
        - TND
        - TOP
        - TRY
        - TTD
        - TWD
        - TZS
        - UAH
        - UGX
        - USD
        - USN
        - UYI
        - UYU
        - UYW
        - UZS
        - VED
        - VES
        - VND
        - VUV
        - WST
        - XAF
        - XAG
        - XAU
        - XBA
        - XBB
        - XBC
        - XBD
        - XCD
        - XDR
        - XOF
        - XPD
        - XPF
        - XPT
        - XSU
        - XTS
        - XUA
        - XXX
        - YER
        - ZAR
        - ZMW
        - ZWG
        - ZWL
      originalCurrencyCode:
        required: false
        displayName: originalCurrencyCode
        description: Original ISO 4217 currency code
        type: string
        enum:
        - AED
        - AFN
        - ALL
        - AMD
        - ANG
        - AOA
        - ARS
        - AUD
        - AWG
        - AZN
        - BAM
        - BBD
        - BDT
        - BGN
        - BHD
        - BIF
        - BMD
        - BND
        - BOB
        - BOV
        - BRL
        - BSD
        - BTN
        - BWP
        - BYN
        - BZD
        - CAD
        - CDF
        - CHE
        - CHF
        - CHW
        - CLF
        - CLP
        - CNY
        - COP
        - COU
        - CRC
        - CUC
        - CUP
        - CVE
        - CZK
        - DJF
        - DKK
        - DOP
        - DZD
        - EGP
        - ERN
        - ETB
        - EUR
        - FJD
        - FKP
        - GBP
        - GEL
        - GHS
        - GIP
        - GMD
        - GNF
        - GTQ
        - GYD
        - HKD
        - HNL
        - HTG
        - HUF
        - IDR
        - ILS
        - INR
        - IQD
        - IRR
        - ISK
        - JMD
        - JOD
        - JPY
        - KES
        - KGS
        - KHR
        - KMF
        - KPW
        - KRW
        - KWD
        - KYD
        - KZT
        - LAK
        - LBP
        - LKR
        - LRD
        - LSL
        - LYD
        - MAD
        - MDL
        - MGA
        - MKD
        - MMK
        - MNT
        - MOP
        - MRU
        - MUR
        - MVR
        - MWK
        - MXN
        - MXV
        - MYR
        - MZN
        - NAD
        - NGN
        - NIO
        - NOK
        - NPR
        - NZD
        - OMR
        - PAB
        - PEN
        - PGK
        - PHP
        - PKR
        - PLN
        - PYG
        - QAR
        - RON
        - RSD
        - RUB
        - RWF
        - SAR
        - SBD
        - SCR
        - SDG
        - SEK
        - SGD
        - SHP
        - SLE
        - SLL
        - SOS
        - SRD
        - SSP
        - STN
        - SVC
        - SYP
        - SZL
        - THB
        - TJS
        - TMT
        - TND
        - TOP
        - TRY
        - TTD
        - TWD
        - TZS
        - UAH
        - UGX
        - USD
        - USN
        - UYI
        - UYU
        - UYW
        - UZS
        - VED
        - VES
        - VND
        - VUV
        - WST
        - XAF
        - XAG
        - XAU
        - XBA
        - XBB
        - XBC
        - XBD
        - XCD
        - XDR
        - XOF
        - XPD
        - XPF
        - XPT
        - XSU
        - XTS
        - XUA
        - XXX
        - YER
        - ZAR
        - ZMW
        - ZWG
        - ZWL
  DebtSecurityentity:
    displayName: DebtSecurityentity
    description: An investment in a debt security
    type: Securityentity
    discriminatorValue: Debt Security entity
    properties:
      parValue:
        required: false
        displayName: parValue
        description: Par value amount
        type: number
        format: double
      debtType:
        required: false
        displayName: debtType
        description: Debt type. One of COUPON, ZERO
        type: string
        enum:
        - COUPON
        - ZERO
      debtClass:
        required: false
        displayName: debtClass
        description: Classification of debt. One of TREASURY, MUNICIPAL, CORPORATE, OTHER
        type: string
        enum:
        - CORPORATE
        - MUNICIPAL
        - OTHER
        - TREASURY
      couponRate:
        required: false
        displayName: couponRate
        description: Bond coupon rate for next closest call date
        type: number
        format: double
      couponDate:
        required: false
        example:
          value: 2021-07-15
        displayName: couponDate
        description: Maturity date for next coupon
        type: date-only
      couponMatureFrequency:
        required: false
        displayName: couponMatureFrequency
        description: When coupons mature. One of MONTHLY, QUARTERLY,  SEMIANNUAL, ANNUAL, OTHER
        type: string
        enum:
        - ANNUAL
        - MONTHLY
        - OTHER
        - QUARTERLY
        - SEMIANNUAL
      callPrice:
        required: false
        displayName: callPrice
        description: Bond call price
        type: number
        format: double
      yieldToCall:
        required: false
        displayName: yieldToCall
        description: Yield to next call
        type: number
        format: double
      callDate:
        required: false
        example:
          value: 2021-07-15
        displayName: callDate
        description: Next call date
        type: date-only
      callType:
        required: false
        displayName: callType
        description: Type of next call. One of CALL, PUT, PREFUND, MATURITY
        type: string
        enum:
        - CALL
        - MATURITY
        - PREFUND
        - PUT
      yieldToMaturity:
        required: false
        displayName: yieldToMaturity
        description: Yield to maturity
        type: number
        format: double
      bondMaturityDate:
        required: false
        example:
          value: 2021-07-15
        displayName: bondMaturityDate
        description: Bond maturity date
        type: date-only
  DepositAccountentity:
    displayName: DepositAccountentity
    description: Information for a deposit account type
    type: Accountentity
    discriminatorValue: Deposit Account entity
    properties:
      balanceAsOf:
        required: false
        example:
          value: 2021-07-15T14:46:41.375Z
        displayName: balanceAsOf
        description: As-of date of balances
        type: datetime
      currentBalance:
        required: false
        displayName: currentBalance
        description: Balance of funds in account
        type: number
        format: double
      openingDayBalance:
        required: false
        displayName: openingDayBalance
        description: Day's opening fund balance
        type: number
        format: double
      availableBalance:
        required: false
        displayName: availableBalance
        description: Balance of funds available for use
        type: number
        format: double
      annualPercentageYield:
        required: false
        displayName: annualPercentageYield
        description: Annual Percentage Yield
        type: number
        format: double
      interestYtd:
        required: false
        displayName: interestYtd
        description: YTD Interest
        type: number
        format: double
      term:
        required: false
        displayName: term
        description: Term of CD in months
        type: integer
        format: int32
      maturityDate:
        required: false
        example:
          value: 2021-07-15
        displayName: maturityDate
        description: Maturity date for CDs
        type: date-only
      transactions:
        required: false
        displayName: transactions
        description: Transactions on the deposit account
        type: array
        items:
          type: DepositTransactionentity
  DepositTransactionentity:
    displayName: DepositTransactionentity
    description: A transaction on a deposit account type
    type: Transaction
    discriminatorValue: Deposit Transaction entity
    properties:
      transactionType:
        required: false
        displayName: transactionType
        description: CHECK, WITHDRAWAL, TRANSFER, POSDEBIT, ATMWITHDRAWAL, BILLPAYMENT, FEE, DEPOSIT, ADJUSTMENT, INTEREST, DIVIDEND, DIRECTDEPOSIT, ATMDEPOSIT, POSCREDIT
        type: string
        enum:
        - ADJUSTMENT
        - ATMDEPOSIT
        - ATMWITHDRAWAL
        - BILLPAYMENT
        - CHECK
        - DEPOSIT
        - DIRECTDEPOSIT
        - DIVIDEND
        - FEE
        - INTEREST
        - POSCREDIT
        - POSDEBIT
        - TRANSFER
        - WITHDRAWAL
      payee:
        required: false
        displayName: payee
        description: Payee name
        type: string
        maxLength: 255
      checkNumber:
        required: false
        displayName: checkNumber
        description: Check number
        type: integer
        format: int32
  DigitalWalletaccountentity:
    displayName: DigitalWalletaccountentity
    description: Information for a digital wallet account
    type: Accountentity
    discriminatorValue: Digital Wallet account entity
    properties:
      balanceAsOf:
        required: false
        example:
          value: 2021-07-15T14:46:41.375Z
        displayName: balanceAsOf
        description: As-of date of balances
        type: datetime
      currentBalance:
        required: false
        displayName: currentBalance
        description: Balance of funds in account
        type: number
        format: double
      openingDayBalance:
        required: false
        displayName: openingDayBalance
        description: Day's opening fund balance
        type: number
        format: double
      availableBalance:
        required: false
        displayName: availableBalance
        description: Balance of funds available for use
        type: number
        format: double
      annualPercentageYield:
        required: false
        displayName: annualPercentageYield
        description: Annual Percentage Yield
        type: number
        format: double
      interestYtd:
        required: false
        displayName: interestYtd
        description: YTD Interest
        type: number
        format: double
      transactions:
        required: false
        displayName: transactions
        description: Transactions on the digital wallet
        type: array
        items:
          type: DigitalWalletTransactionentity
  DigitalWalletTransactionentity:
    displayName: DigitalWalletTransactionentity
    description: A transaction on a digital wallet account
    type: Transaction
    discriminatorValue: Digital Wallet Transaction entity
    properties:
      transactionType:
        required: false
        displayName: transactionType
        description: ADJUSTMENT, BILL_PAYMENT, CREDIT, DEBIT, DEPOSIT, DIRECT_DEPOSIT, DIVIDEND, FEE, INTEREST, MERCHANT_PAYMENT, MERCHANT_REFUND, TRANSFER_IN, TRANSFER_OUT, WITHDRAWAL
        type: string
        enum:
        - ADJUSTMENT
        - BILL_PAYMENT
        - CREDIT
        - DEBIT
        - DEPOSIT
        - DIRECT_DEPOSIT
        - DIVIDEND
        - FEE
        - INTEREST
        - MERCHANT_PAYMENT
        - MERCHANT_REFUND
        - TRANSFER_IN
        - TRANSFER_OUT
        - WITHDRAWAL
      payee:
        required: false
        displayName: payee
        description: Payee name
        type: string
        maxLength: 255
  FIPortionentity:
    displayName: FIPortionentity
    description: Financial Institution-specific asset allocation
    type: object
    properties:
      assetClass:
        required: false
        displayName: assetClass
        description: Financial Institution-specific asset class
        type: string
      percent:
        required: false
        displayName: percent
        description: Percentage of asset class that falls under this asset
        type: number
        format: double
  Holdingentity:
    displayName: Holdingentity
    description: A holding in an investment account
    type: object
    properties:
      holdingId:
        required: false
        displayName: holdingId
        description: Long term persistent identity of the holding
        type: string
        maxLength: 256
      securityIds:
        required: false
        displayName: securityIds
        description: Unique identifiers for the security
        type: array
        items:
          type: SecurityIDentity
      holdingName:
        required: false
        displayName: holdingName
        description: Holding name or security name
        type: string
      holdingType:
        required: false
        displayName: holdingType
        description: ANNUITY, BOND, CD, DIGITALASSET, MUTUALFUND, OPTION, OTHER, STOCK
        type: string
        enum:
        - ANNUITY
        - BOND
        - CD
        - DIGITALASSET
        - MUTUALFUND
        - OPTION
        - OTHER
        - STOCK
      holdingSubType:
        required: false
        displayName: holdingSubType
        description: MONEYMARKET, CASH
        type: string
        enum:
        - CASH
        - MONEYMARKET
      positionType:
        required: false
        displayName: positionType
        description: LONG, SHORT
        type: string
        enum:
        - LONG
        - SHORT
      heldInAccount:
        required: false
        displayName: heldInAccount
        description: Sub-account CASH, MARGIN, SHORT, OTHER
        type: string
        enum:
        - CASH
        - MARGIN
        - OTHER
        - SHORT
      description:
        required: false
        displayName: description
        description: The description of the holding
        type: string
      symbol:
        required: false
        displayName: symbol
        description: Ticker / Market symbol
        type: string
      originalPurchaseDate:
        required: false
        example:
          value: 2021-07-15
        displayName: originalPurchaseDate
        description: Date of original purchase
        type: date-only
      purchasedPrice:
        required: false
        displayName: purchasedPrice
        description: Price of holding at the time of purchase
        type: number
        format: double
      currentAmortizationFactor:
        required: false
        default: '1'
        displayName: currentAmortizationFactor
        description: Ranges from 0.0 - 1.0 indicates the adjustment to the calculation of the market value. 'currentUnitPrice * quantity * currentAmortizationFactor =  marketValue'
        type: number
        minimum: 0
        maximum: 1
        format: double
      currentUnitPrice:
        required: false
        displayName: currentUnitPrice
        description: Current unit price
        type: number
        format: double
      changeInPrice:
        required: false
        displayName: changeInPrice
        description: Change in current price compared to previous day's close
        type: number
        format: double
      currentUnitPriceDate:
        required: false
        example:
          value: 2021-07-15
        displayName: currentUnitPriceDate
        description: Current unit price as of date
        type: date-only
      units:
        required: false
        displayName: units
        description: Required for stock, mutual funds. Number of shares (with decimals)
        type: number
        format: double
      marketValue:
        required: false
        displayName: marketValue
        description: Market value at the time of data retrieved
        type: number
        format: double
      faceValue:
        required: false
        displayName: faceValue
        description: Required for bonds. Face value at the time of data retrieved
        type: number
        format: double
      averageCost:
        required: false
        displayName: averageCost
        description: Cost is average of all purchases for holding
        type: boolean
      cashAccount:
        required: false
        displayName: cashAccount
        description: If true, indicates that this holding is used to maintain proceeds from sales, dividends, and other cash postings to the investment account
        type: boolean
      rate:
        required: false
        displayName: rate
        description: For CDs, bonds, and other rate based holdings
        type: number
        format: double
      expirationDate:
        required: false
        example:
          value: 2021-07-15
        displayName: expirationDate
        description: For CDs, bonds, and other time-based holdings
        type: date-only
      inv401kSource:
        required: false
        displayName: inv401kSource
        description: Source for money for this security. One of PRETAX, AFTERTAX, MATCH, PROFITSHARING, ROLLOVER, OTHERVEST, OTHERNONVEST
        type: string
        enum:
        - AFTERTAX
        - MATCH
        - OTHERNONVEST
        - OTHERVEST
        - PRETAX
        - PROFITSHARING
        - ROLLOVER
      currency:
        required: false
        displayName: currency
        description: Currency information if it is different from Account entity
        type: Currencyentity1
      assetClasses:
        required: false
        displayName: assetClasses
        description: Percent breakdown by asset class
        type: array
        items:
          type: Portionentity
      fiAssetClasses:
        required: false
        displayName: fiAssetClasses
        description: Percent breakdown by FI-specific asset class percentage breakdown
        type: array
        items:
          type: FIPortionentity
      fiAttributes:
        required: false
        displayName: fiAttributes
        description: Array of FI-specific attributes
        type: array
        items:
          type: FIAttributeentity
      taxLots:
        required: false
        displayName: taxLots
        description: Breakdown by tax lot
        type: array
        items:
          type: TaxLotentity
      digitalUnits:
        required: false
        displayName: digitalUnits
        description: Specify units to full precision with unlimited digits after decimal point
        type: string
      security:
        required: false
        displayName: security
        description: The security of the Holding; one of DebtSecurity, MutualFundSecurity OptionSecurity, OtherSecurity, StockSecurity or SweepSecurity
        type: any
  InsuranceAccountentity:
    displayName: InsuranceAccountentity
    description: An insurance account type and properties such as category, premium, and payment term information
    type: Accountentity
    discriminatorValue: Insurance Account entity
    properties:
      policyPremium:
        required: false
        displayName: policyPremium
        description: The amount of the user's premium
        type: number
        format: double
      policyPremiumTerm:
        required: false
        displayName: policyPremiumTerm
        description: The payment term for the premium
        type: string
        enum:
        - ANNUAL
        - MONTHLY
      policyStartDate:
        required: false
        example:
          value: 2021-07-15
        displayName: policyStartDate
        description: The premium start date
        type: date-only
      policyStatus:
        required: false
        displayName: policyStatus
        description: The status of an insurance policy account
        type: string
        enum:
        - ACTIVE
        - DEATH_CLAIM_PAID
        - DEATH_CLAIM_PENDING
        - EXPIRED
        - GRACE_PERIOD
        - LAPSE_PENDING
        - TERMINATED
        - WAIVER
      policyEndDate:
        required: false
        example:
          value: 2021-07-15
        displayName: policyEndDate
        description: The premium end date
        type: date-only
      policyCoverageAmount:
        required: false
        displayName: policyCoverageAmount
        description: Total amount of money the user is insured for
        type: number
        format: double
      transactions:
        required: false
        displayName: transactions
        description: Transactions on the insurance account
        type: array
        items:
          type: InsuranceTransactionentity
      bills:
        required: false
        displayName: bills
        description: Payments due on the insurance account
        type: array
        items:
          type: Billsentity
  InsuranceTransactionentity:
    displayName: InsuranceTransactionentity
    description: An insurance transaction type
    type: Transaction
    discriminatorValue: Insurance Transaction entity
    properties:
      transactionType:
        required: false
        displayName: transactionType
        description: The type of an insurance transaction
        type: string
        enum:
        - ADJUSTMENT
        - FEE
        - INTEREST
        - PAYMENT
  InvestmentAccountentity:
    displayName: InvestmentAccountentity
    description: An investment account type and information such as balances, transactions, holdings and privileges
    type: Accountentity
    discriminatorValue: Investment Account entity
    properties:
      balanceAsOf:
        required: false
        example:
          value: 2021-07-15T14:46:41.375Z
        displayName: balanceAsOf
        description: As-of date for balances
        type: datetime
      allowedCheckWriting:
        required: false
        displayName: allowedCheckWriting
        description: Check writing privileges
        type: boolean
      allowedOptionTrade:
        required: false
        displayName: allowedOptionTrade
        description: Allowed to trade options
        type: boolean
      currentValue:
        required: false
        displayName: currentValue
        description: Total current value of all investments
        type: number
        format: double
      holdings:
        required: false
        displayName: holdings
        description: Holdings in the investment account
        type: array
        items:
          type: Holdingentity
      openOrders:
        required: false
        displayName: openOrders
        description: Open orders in the investment account
        type: array
        items:
          type: OpenOrderentity
      contribution:
        required: false
        displayName: contribution
        description: Describes how new contributions are distributed among the available securities
        type: array
        items:
          type: Contributionentity
      vesting:
        required: false
        displayName: vesting
        description: Provides the past, present, and future vesting schedule and percentages
        type: array
        items:
          type: Vestingentity
      investmentLoans:
        required: false
        displayName: investmentLoans
        description: Investment loans in the account
        type: array
        items:
          type: InvestmentLoanentity
      availableCashBalance:
        required: false
        displayName: availableCashBalance
        description: Cash balance across all sub-accounts. Should include sweep funds
        type: number
        format: double
      margin:
        required: false
        displayName: margin
        description: Margin trading is allowed
        type: boolean
      marginBalance:
        required: false
        displayName: marginBalance
        description: Margin balance
        type: number
        format: double
      shortBalance:
        required: false
        displayName: shortBalance
        description: Short balance
        type: number
        format: double
      rolloverAmount:
        required: false
        displayName: rolloverAmount
        description: Rollover amount
        type: number
        format: double
      employerName:
        required: false
        displayName: employerName
        description: Name of the employer in investment 401k Plan
        type: string
      brokerId:
        required: false
        displayName: brokerId
        description: Unique identifier FI
        type: string
      planId:
        required: false
        displayName: planId
        description: Plan number for Investment 401k plan
        type: string
      calendarYearFor401K:
        required: false
        displayName: calendarYearFor401K
        description: The calendar year for this 401k account
        type: integer
        format: int32
      balanceList:
        required: false
        displayName: balanceList
        description: List of balances. Aggregate of name value pairs
        type: array
        items:
          type: InvestmentBalanceentity
      dailyChange:
        required: false
        displayName: dailyChange
        description: Daily change
        type: number
        format: double
      percentageChange:
        required: false
        displayName: percentageChange
        description: Percentage change
        type: number
        format: double
      transactions:
        required: false
        displayName: transactions
        description: Transactions on the investment account
        type: array
        items:
          type: InvestmentTransactionentity
      pensionSource:
        required: false
        displayName: pensionSource
        description: Pension sources in the investment account
        type: array
        items:
          type: PensionSourceentity
  InvestmentBalanceentity:
    displayName: InvestmentBalanceentity
    description: A point-in-time balance of the investment account
    type: object
    properties:
      balanceName:
        required: false
        displayName: balanceName
        description: Name of the balance
        type: string
      balanceDescription:
        required: false
        displayName: balanceDescription
        description: Description of balance
        type: string
      balanceType:
        required: false
        displayName: balanceType
        description: AMOUNT, PERCENTAGE
        type: string
        enum:
        - AMOUNT
        - PERCENTAGE
      balanceValue:
        required: false
        displayName: balanceValue
        description: Value of named balance
        type: number
        format: double
      balanceDate:
        required: false
        example:
          value: 2021-07-15
        displayName: balanceDate
        description: Date as of this balance
        type: date-only
      currency:
        required: false
        displayName: currency
        description: Currency if different from that of account
        type: Currencyentity2
  InvestmentLoanentity:
    displayName: InvestmentLoanentity
    description: Any loan information against an investment account
    type: object
    properties:
      loanId:
        required: false
        displayName: loanId
        description: Unique identifier for this loan
        type: string
      loanDescription:
        required: false
        displayName: loanDescription
        description: Description of loan
        type: string
      initialLoanBalance:
        required: false
        displayName: initialLoanBalance
        description: Initial loan balance amount
        type: number
        format: double
      loanStartDate:
        required: false
        example:
          value: 2021-07-15
        displayName: loanStartDate
        description: Start date of the loan
        type: date-only
      currentLoanBalance:
        required: false
        displayName: currentLoanBalance
        description: Current loan principal balance amount
        type: number
        format: double
      dateAsOf:
        required: false
        example:
          value: 2021-07-15T14:46:41.375Z
        displayName: dateAsOf
        description: Date and time of current loan balance
        type: datetime
      loanRate:
        required: false
        displayName: loanRate
        description: Loan annual interest rate for the loan
        type: number
        format: double
      loanPaymentAmount:
        required: false
        displayName: loanPaymentAmount
        description: Loan payment amount
        type: number
        format: double
      loanPaymentFrequency:
        required: false
        displayName: loanPaymentFrequency
        description: WEEKLY, BIWEEKLY, TWICEMONTHLY, MONTHLY, FOURWEEKS, BIMONTHLY, QUARTERLY, SEMIANNUALLY, ANNUALLY, OTHER
        type: string
        enum:
        - ANNUALLY
        - BIMONTHLY
        - BIWEEKLY
        - FOURWEEKS
        - MONTHLY
        - OTHER
        - QUARTERLY
        - SEMIANNUALLY
        - TWICEMONTHLY
        - WEEKLY
      loanPaymentInitial:
        required: false
        displayName: loanPaymentInitial
        description: Initial number of loan payments
        type: number
        format: double
      loanPaymentsRemaining:
        required: false
        displayName: loanPaymentsRemaining
        description: Remaining number of loan payments
        type: integer
        format: int32
      loanMaturityDate:
        required: false
        example:
          value: 2021-07-15
        displayName: loanMaturityDate
        description: Expected loan end date
        type: date-only
      loanInterestToDate:
        required: false
        displayName: loanInterestToDate
        description: Total interest paid to date on this loan
        type: number
        format: double
      loanTotalProjectedInterest:
        required: false
        displayName: loanTotalProjectedInterest
        description: Total projected interest to be paid on this loan
        type: number
        format: double
      loanNextPaymentDate:
        required: false
        example:
          value: 2021-07-15
        displayName: loanNextPaymentDate
        description: The next payment date for the loan
        type: date-only
  InvestmentTransactionentity:
    displayName: InvestmentTransactionentity
    description: Specific transaction information
    type: Transaction
    discriminatorValue: Investment Transaction entity
    properties:
      transactionType:
        required: false
        displayName: transactionType
        description: PURCHASED, SOLD, PURCHASEDTOCOVER, ADJUSTMENT, PURCHASETOOPEN, PURCHASETOCLOSE, SOLDTOOPEN, SOLDTOCLOSE, INTEREST, MARGININTEREST, REINVESTOFINCOME, RETURNOFCAPITAL, TRANSFER, CONTRIBUTION, FEE, OPTIONEXERCISE, OPTIONEXPIRATION, DIVIDEND, DIVIDENDREINVEST, SPLIT, CLOSURE, INCOME, EXPENSE, CLOSUREOPT, INVEXPENSE, JRNLSEC, JRNLFUND, OTHER, DIV, SRVCHG, DEP, DEPOSIT, ATM, POS, XFER, CHECK, PAYMENT, CASH, DIRECTDEP, DIRECTDEBIT, REPEATPMT
        type: string
        enum:
        - ADJUSTMENT
        - AIRDROP
        - ATM
        - CASH
        - CHECK
        - CLOSURE
        - CLOSUREOPT
        - CONTRIBUTION
        - DEP
        - DEPOSIT
        - DIRECTDEBIT
        - DIRECTDEP
        - DIV
        - DIVIDEND
        - DIVIDENDREINVEST
        - EXPENSE
        - FEE
        - FORKED
        - INCOME
        - INTEREST
        - INVEXPENSE
        - JRNLFUND
        - JRNLSEC
        - MARGININTEREST
        - MINED
        - OPTIONEXERCISE
        - OPTIONEXPIRATION
        - OTHER
        - PAYMENT
        - POS
        - PURCHASED
        - PURCHASEDTOCOVER
        - PURCHASETOCLOSE
        - PURCHASETOOPEN
        - REINVESTOFINCOME
        - REPEATPMT
        - RETURNOFCAPITAL
        - SOLD
        - SOLDTOCLOSE
        - SOLDTOOPEN
        - SPLIT
        - SRVCHG
        - STAKED
        - TRANSFER
        - WITHDRAWAL
        - XFER
      shares:
        required: false
        displayName: shares
        description: Required for stock, mutual funds. Number of shares (with decimals). Negative numbers indicate securities are being removed from the account
        type: number
        format: double
      faceValue:
        required: false
        displayName: faceValue
        description: Cash value for bonds
        type: number
        format: double
      price:
        required: false
        displayName: price
        description: Unit purchase price
        type: number
        format: double
      securityId:
        required: false
        displayName: securityId
        description: Unique identifier of security
        type: string
      securityIdType:
        required: false
        displayName: securityIdType
        description: CINS, CMC, CME, CUSIP, ISIN, ITSA, NASDAQ, SEDOL, SICC, VALOR, WKN
        type: string
        enum:
        - CINS
        - CMC
        - CME
        - CUSIP
        - ISIN
        - ITSA
        - NASDAQ
        - SEDOL
        - SICC
        - VALOR
        - WKN
      securityType:
        required: false
        displayName: securityType
        description: BOND, DEBT, DIGITALASSET, MUTUALFUND, OPTION, OTHER, STOCK, SWEEP
        type: string
        enum:
        - BOND
        - DEBT
        - DIGITALASSET
        - MUTUALFUND
        - OPTION
        - OTHER
        - STOCK
        - SWEEP
      symbol:
        required: false
        displayName: symbol
        description: Ticker symbol
        type: string
      markup:
        required: false
        displayName: markup
        description: Portion of unit price that is attributed to the dealer markup
        type: number
        format: double
      commission:
        required: false
        displayName: commission
        description: Transaction commission
        type: number
        format: double
      taxes:
        required: false
        displayName: taxes
        description: Taxes on the trade
        type: number
        format: double
      fees:
        required: false
        displayName: fees
        description: Fees applied to the trade
        type: number
        format: double
      load:
        required: false
        displayName: load
        description: Load on the transaction
        type: number
        format: double
      inv401kSource:
        required: false
        displayName: inv401kSource
        description: Source of money. One of PRETAX, AFTERTAX, MATCH, PROFITSHARING, ROLLOVER, OTHERVEST, OTHERNONVEST
        type: string
        enum:
        - AFTERTAX
        - MATCH
        - OTHERNONVEST
        - OTHERVEST
        - PRETAX
        - PROFITSHARING
        - ROLLOVER
      confirmationNumber:
        required: false
        displayName: confirmationNumber
        description: Confirmation number of the transaction
        type: string
      fractionalCash:
        required: false
        displayName: fractionalCash
        description: Cash for fractional units (used for stock splits)
        type: number
        format: double
      incomeType:
        required: false
        displayName: incomeType
        description: Type of investment income. One of CGLONG (capital gains-long term), CGSHORT (capital gains-short term), MISC
        type: string
        enum:
        - CGLONG
        - CGSHORT
        - MISC
      oldUnits:
        required: false
        displayName: oldUnits
        description: Number of shares before split
        type: number
        format: double
      splitRatioNumerator:
        required: false
        displayName: splitRatioNumerator
        description: Split ratio numerator
        type: number
        format: double
      splitRatioDenominator:
        required: false
        displayName: splitRatioDenominator
        description: Split ratio denominator
        type: number
        format: double
      newUnits:
        required: false
        displayName: newUnits
        description: Number of shares after split
        type: number
        format: double
      subAccountSec:
        required: false
        displayName: subAccountSec
        description: Sub-account security Type. One of CASH, MARGIN, SHORT, OTHERS
        type: string
        enum:
        - CASH
        - MARGIN
        - OTHER
        - SHORT
      subAccountFund:
        required: false
        displayName: subAccountFund
        description: From which account money came in. One of CASH, MARGIN, SHORT, OTHERS
        type: string
        enum:
        - CASH
        - MARGIN
        - OTHER
        - SHORT
      loanId:
        required: false
        displayName: loanId
        description: For 401k accounts only. This indicates the transaction was due to a loan or a loan repayment
        type: string
      loanPrincipal:
        required: false
        displayName: loanPrincipal
        description: How much loan pre-payment is principal
        type: number
        format: double
      loanInterest:
        required: false
        displayName: loanInterest
        description: How much loan pre-payment is interest
        type: number
        format: double
      payrollDate:
        required: false
        example:
          value: 2021-07-15
        displayName: payrollDate
        description: The date for the 401k transaction was obtained in payroll
        type: date-only
      priorYearContrib:
        required: false
        displayName: priorYearContrib
        description: Indicates this buy was made using prior year's contribution
        type: boolean
      withholding:
        required: false
        displayName: withholding
        description: Federal tax withholding
        type: number
        format: double
      taxExempt:
        required: false
        displayName: taxExempt
        description: Tax-exempt transaction
        type: boolean
      gain:
        required: false
        displayName: gain
        description: For sales
        type: number
        format: double
      stateWithholding:
        required: false
        displayName: stateWithholding
        description: State tax withholding
        type: number
        format: double
      penalty:
        required: false
        displayName: penalty
        description: Indicates amount withheld due to a penalty
        type: number
        format: double
      runningBalance:
        required: false
        displayName: runningBalance
        description: Running balance of the position
        type: number
        format: double
      unitPrice:
        required: false
        displayName: unitPrice
        description: Price per commonly-quoted unit. Does not include markup/markdown, unitprice. Share price for stocks, mutual funds, and others. Percentage of par for bonds. Per share (not contract) for options
        type: number
        format: double
      units:
        required: false
        displayName: units
        description: For security-based actions other than stock splits, quantity. Shares for stocks, mutual funds, and others. Face value for bonds. Contracts for options
        type: number
        format: double
      unitType:
        required: false
        displayName: unitType
        description: SHARES, CURRENCY
        type: string
        enum:
        - CURRENCY
        - SHARES
      transactionReason:
        required: false
        displayName: transactionReason
        description: Reason for this transaction; CALL (the debt was called), SELL (the debt was sold), MATURITY (the debt reached maturity)
        type: string
        enum:
        - CALL
        - MATURITY
        - SELL
      accruedInterest:
        required: false
        displayName: accruedInterest
        description: Accrued interest
        type: number
        format: double
      transferAction:
        required: false
        displayName: transferAction
        description: Transfer direction
        type: string
        enum:
        - IN
        - OUT
      positionType:
        required: false
        displayName: positionType
        description: LONG, SHORT
        type: string
        enum:
        - LONG
        - SHORT
      digitalUnits:
        required: false
        displayName: digitalUnits
        description: Full precision unit number, unlimited digits after decimal point
        type: string
      settlementTimestamp:
        required: false
        example:
          value: 2021-07-15T14:46:41.375Z
        displayName: settlementTimestamp
        description: When the trade settled
        type: datetime
  LineItementity:
    displayName: LineItementity
    description: A line item within a transaction
    type: object
    properties:
      description:
        required: false
        displayName: description
        description: The description of the line item
        type: string
      amount:
        required: false
        displayName: amount
        description: The amount of money attributable to this line item
        type: number
        format: double
      checkNumber:
        required: false
        displayName: checkNumber
        description: Check number
        type: integer
        format: int32
      memo:
        required: false
        displayName: memo
        description: Secondary item description
        type: string
        maxLength: 255
      reference:
        required: false
        displayName: reference
        description: A reference number
        type: string
      imageIds:
        required: false
        displayName: imageIds
[...]
