FORMAT: 1A
HOST: https://financialdataexchange-prod.apigee.net/fdx-consent-api-v6.2.0

# FDX API
Financial Data Exchange V6.2.0 Consent API

## Authentication
This API uses JSON Web Tokens for its authentication.

The parameters that are needed to be sent for this type of authentication are as follows:
+ `JWTHeaderName`
+ `JWTAcquireURL`
+ `JWTDestroyURL`

# Group User Consent

Manage customer consent grants

## Consents By ConsentId [/consents/{consentId}]

+ Parameters
    + consentId (string, required)

        Consent Identifier

        + Sample: 9585694d3ae58863

### getConsentGrant [GET]
Get a Consent Grant

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Ok

    + Attributes (Consent Grant entity)


    + Body

            {"id":"9585694d3ae58863","status":"ACTIVE","parties":[{"name":"Seedling App","type":"DATA_RECIPIENT","homeUri":"https://www.seedling.com","logoUri":"https://www.seedling.com/assets/seedling-logo.png","registry":"FDX","registeredEntityName":"Oak Tree Holdings, Inc","registeredEntityId":"5493001052I34KDC1O18"},{"name":"Midwest Primary Bank, NA","type":"DATA_PROVIDER","homeUri":"https://www.midwest.com","logoUri":"https://www.midwest.com/81d88112572c.jpg","registry":"GLEIF","registeredEntityName":"Midwest Primary Bank, NA","registeredEntityId":"549300ATG070THRDJ595"}],"createdTime":"2021-07-03T21:28:10.375Z","expirationTime":"2021-07-03T22:28:10.374Z","durationType":"ONE_TIME","lookbackPeriod":60,"resources":[{"resourceType":"ACCOUNT","resourceId":"b14e1e714693bc00","dataClusters":["ACCOUNT_DETAILED","TRANSACTIONS","STATEMENTS"]}]}


+ Response 401 (application/json)

        Request lacks valid authentication credentials for the target resource

    + Attributes (Error1)


    + Body

            {"code":"603","message":"Authentication failed","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 404 (application/json)

        Data not found for request parameters

    + Attributes (Error1)


    + Body

            {"code":"1107","message":"Data not found for request parameters","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Consents Revocation By ConsentId [/consents/{consentId}/revocation]

+ Parameters
    + consentId (string, required)

        Consent Identifier

        + Sample: 9585694d3ae58863

### revokeConsentGrant [PUT]
Revoke a Consent Grant

+ Request (<<Add Header Value>>)
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH


    + Attributes (Consent revocation request entity)


    + Body

            {
                "reason": "BUSINESS_RULE",
                "initiator": "DATA_ACCESS_PLATFORM"
            }


+ Response 204 

        No Content




+ Response 400 (application/json)

        Input sent by client does not satisfy API specification

    + Attributes (Error1)


    + Body

            {"code":"401","message":"Invalid Input","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 401 (application/json)

        Request lacks valid authentication credentials for the target resource

    + Attributes (Error1)


    + Body

            {"code":"603","message":"Authentication failed","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 403 (application/json)

        Forbidden, server understands the request but refuses to authorize it

    + Attributes (Error1)


    + Body

            {"code":"403","message":"Forbidden","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 404 (application/json)

        Data not found for request parameters

    + Attributes (Error1)


    + Body

            {"code":"1107","message":"Data not found for request parameters","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 409 (application/json)

        Conflict with current state of target resource

    + Attributes (Error1)


    + Body

            {"code":"409","message":"Conflict with current state of target resource","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


### getConsentRevocation [GET]
Retrieve Consent Revocation record

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Ok

    + Attributes (Consent Revocation List entity)





# Group Account Information

Search and view customer accounts

## Accounts [/accounts{?accountIds,startTime,endTime,resultType,offset,limit}]

### searchForAccounts [GET]
Return information for all of the customer's consented accounts or just those accounts identified in the `accountIds` request parameter. Use `ResultTypeQuery` parameter value of `lightweight` to retrieve minimal descriptive information and the `accountId` for each account. The `accountId` can then be used in the `getAccount` operation's path `/accounts/{accountId}` to retrieve full details about each account
+ Parameters
    + accountIds (array[string], optional)

        Comma separated list of account ids

    + startTime (array[string], optional)

        Start time for use in retrieval of transactions

    + endTime (array[string], optional)

        End time for use in retrieval of transactions

    + resultType (enum[string], optional)

        Flag to indicate if you want a lightweight array of metadata (AccountDescriptor or Tax or Operations) or full item details (Account or a Tax subclass or Availability details). If set to 'lightweight', should only return the fields associated with the metadata entity. This field is not required, defaults to lightweight

        + Default: lightweight
        + Members
            + `details` 
            + `lightweight` 

    + offset (string, optional)

        Opaque cursor used by the provider to send the next set of records

    + limit (number, optional)

        Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Array of accounts (DepositAccount, LoanAccount, LineOfCreditAccount, InvestmentAccount, InsuranceAccount, AnnuityAccount, CommercialAccount, or DigitalWallet)

    + Attributes (Accounts entity)


    + Body

            {"page":{"nextOffset":"2","total":3},"links":{"next":{"href":"/accounts?offSet=2&limit=10"}},"accounts":[{"accountCategory":"DEPOSIT_ACCOUNT","accountId":"10001","nickname":"My Checking Acc XXXX3223","status":"OPEN","balanceAsOf":"2017-11-05T13:15:30.751Z","currentBalance":13300.35,"openingDayBalance":500},{"accountCategory":"DEPOSIT_ACCOUNT","accountId":"10002","nickname":"My Checking Acc XXXX4443","status":"OPEN","balanceAsOf":"2017-11-05T13:15:30.751Z","currentBalance":332.22,"openingDayBalance":100.0},{"accountCategory":"LOAN_ACCOUNT","accountId":"20001","nickname":"My Mortgage Acc XXXX9979","status":"OPEN","balanceAsOf":"2017-11-05T13:15:30.751Z","principalBalance":133000.35,"loanTerm":30,"nextPaymentDate":"2017-12-01","nextPaymentAmount":2333.32}]}


+ Response 400 (application/json)

        Start or end date value is not in the ISO 8601 format

    + Attributes (Error1)


    + Body

            {"code":"702","message":"Invalid start or end date","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 404 (application/json)

        Data not found for request parameters

    + Attributes (Error1)


    + Body

            {"code":"1107","message":"Data not found for request parameters","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Accounts By AccountId [/accounts/{accountId}]

+ Parameters
    + accountId (string, required)

        Account Identifier


### getAccount [GET]
Retrieve full details about the account identified by `{accountId}` parameter

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        This can be one of LoanAccount, DepositAccount, LineOfCreditAccount, InvestmentAccount, InsuranceAccount, AnnuityAccount, CommercialAccount, or DigitalWallet

    + Attributes (string)


    + Body

            {"accountCategory":"LOAN_ACCOUNT","accountId":"12345678","accountType":"LOAN","displayName":"XXXXX4567","status":"OPEN","description":"30 Year Mortgage","nickname":"My Home Mortgage","currency":{"currencyCode":"USD"},"interestRate":4,"loanTerm":0,"totalNumberOfPayments":0}


+ Response 404 (application/json)

        Account with id not found

    + Attributes (Error1)


    + Body

            {"code":"701","message":"Account not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}




# Group Account Statements

Search and retrieve account statements

## Accounts Statements By AccountId [/accounts/{accountId}/statements{?startTime,endTime,offset,limit}]

+ Parameters
    + accountId (string, required)

        Account Identifier


### searchForAccountStatements [GET]
Get account statements. Example: GET /accounts/{accountId}/statements?startTime=value1&endTime=value2
+ Parameters
    + startTime (string, optional)

        Start time for use in retrieval of elements (ISO 8601)

        + Sample: 2021-07-15
    + endTime (string, optional)

        End time for use in retrieval of elements (ISO 8601)

        + Sample: 2021-07-15
    + offset (string, optional)

        Opaque cursor used by the provider to send the next set of records

    + limit (number, optional)

        Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Paginated list of available statements

    + Attributes (An array of statements)


    + Body

            {"page":{"nextOffset":"2","total":3},"links":{"next":{"href":"/accounts/1111/statements?offSet=2&limit=10"}},"statements":[{"accountId":"10001","statementId":"40004"}]}


+ Response 400 (application/json)

        Start or end date value is not in the ISO 8601 format

    + Attributes (Error1)


    + Body

            {"code":"702","message":"Invalid start or end date","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 404 (application/json)

        Account with id not found

    + Attributes (Error1)


    + Body

            {"code":"701","message":"Account not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Accounts Statements By AccountId [/accounts/{accountId}/statements/{statementId}]

+ Parameters
    + accountId (string, required)

        Account Identifier

    + statementId (string, required)

        Statement Identifier


### getAccountStatement [GET]
Gets an account statement image file. Use [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) to specify desired content types. See ContentTypes definition for typical values

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/pdf)

        An image of an account statement

    + Attributes (string)



+ Response 200 (image/gif)

        An image of an account statement

    + Attributes (string)



+ Response 200 (image/jpeg)

        An image of an account statement

    + Attributes (string)



+ Response 200 (image/tiff)

        An image of an account statement

    + Attributes (string)



+ Response 200 (image/png)

        An image of an account statement

    + Attributes (string)



+ Response 302 

        Statement is available at specified location. URL is returned via the `Location` HTTP header




+ Response 400 (application/json)

        Statement is processing and is not yet available

    + Attributes (Error1)


    + Body

            {"code":"1300","message":"Statement is Processing","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 404 (application/json)

        When account is present with no statements in it

    + Attributes (Error1)


    + Body

            {"code":"1108","message":"Statements not found for given Account","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 406 (application/json)

        Content Type not Supported

    + Attributes (Error1)


    + Body

            {"code":"1203","message":"Content Type not Supported","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}




# Group Account Transactions

Search and view account transactions

## Accounts Transaction Images By AccountId [/accounts/{accountId}/transaction-images/{imageId}]

+ Parameters
    + accountId (string, required)

        Account Identifier

    + imageId (string, required)

        Image Identifier


### getAccountTransactionImages [GET]
Get account transaction image

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/pdf)

        An image of transaction (such as a scanned check)

    + Attributes (string)



+ Response 200 (image/gif)

        An image of transaction (such as a scanned check)

    + Attributes (string)



+ Response 200 (image/jpeg)

        An image of transaction (such as a scanned check)

    + Attributes (string)



+ Response 200 (image/tiff)

        An image of transaction (such as a scanned check)

    + Attributes (string)



+ Response 200 (image/png)

        An image of transaction (such as a scanned check)

    + Attributes (string)



+ Response 404 (application/json)

        Account or image with id not found

    + Attributes (Error1)


    + Body

            {"code":"701","message":"Account not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 406 (application/json)

        Content Type not Supported

    + Attributes (Error1)


    + Body

            {"code":"1203","message":"Content Type not Supported","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Accounts Transactions By AccountId [/accounts/{accountId}/transactions{?startTime,endTime,offset,limit}]

+ Parameters
    + accountId (string, required)

        Account Identifier


### searchForAccountTransactions [GET]
Search for account transactions. Example: /accounts/{accountId}/transactions?startTime=value1&endTime=value2
+ Parameters
    + startTime (string, optional)

        Start time for use in retrieval of elements (ISO 8601)

        + Sample: 2021-07-15
    + endTime (string, optional)

        End time for use in retrieval of elements (ISO 8601)

        + Sample: 2021-07-15
    + offset (string, optional)

        Opaque cursor used by the provider to send the next set of records

    + limit (number, optional)

        Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Paginated collection of transactions, which can be one of DepositTransaction, LoanTransaction, LineOfCreditTransaction, InvestmentTransaction, InsuranceTransaction, CommercialTransaction, or DigitalWalletTransaction

    + Attributes (Transactions entity)


    + Body

            {"page":{"nextOffset":"2","total":3},"links":{"next":{"href":"/accounts/33333/transactions?offSet=2&limit=10"}},"transactions":[{"accountCategory":"DEPOSIT_ACCOUNT","accountId":"10001","transactionId":"20002","postedTimestamp":"2017-11-05T13:15:30.751Z","description":"Direct deposit from XYZ Corp","debitCreditMemo":"CREDIT","amount":1200.42,"payee":"XYZ Corp"},{"accountCategory":"DEPOSIT_ACCOUNT","accountId":"10001","transactionId":"20002","postedTimestamp":"2017-11-05T13:15:31.751Z","description":"Withdrawal from ATM","debitCreditMemo":"DEBIT","amount":1200.42,"payee":"Account Owner"}]}


+ Response 400 (application/json)

        Start or end date value is not in the ISO 8601 format

    + Attributes (Error1)


    + Body

            {"code":"702","message":"Invalid start or end date","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 404 (application/json)

        Account with id not found

    + Attributes (Error1)


    + Body

            {"code":"701","message":"Account not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}




# Group Money Movement

View account money movement details

## Accounts Asset Transfer Networks [/accounts/{accountId}/asset-transfer-networks]

+ Parameters
    + accountId (string, required)

        Account Identifier


### getAccountAssetTransferNetworks [GET]
...

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Information required to facilitate asset transfer from this account

    + Attributes (Asset Transfer Network List)


    + Body

            {"assetTransferNetworks":[{"identifier":"121000358","identifierType":"ACCOUNT_NUMBER","institutionName":"US Investments","institutionId":"1234567890","type":"US_ACATS","jointAccount":true}]}



## Accounts Payment Networks By AccountId [/accounts/{accountId}/payment-networks{?offset,limit}]

+ Parameters
    + accountId (string, required)

        Account Identifier


### getAccountPaymentNetworks [GET]
Get payment networks supported by the account
+ Parameters
    + offset (string, optional)

        Opaque cursor used by the provider to send the next set of records

    + limit (number, optional)

        Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Information required to execute a payment transaction against this account

    + Attributes (Array of account payment networks)


    + Body

            {"page":{"totalElements":1},"paymentNetworks":[{"bankId":"121000358","identifier":"1234567890","identifierType":"ACCOUNT_NUMBER","type":"US_ACH","transferIn":true,"transferOut":true,"transferLimits":{"out":{"day":{"resetsOn":"2023-08-09T00:00:00.000Z","transferMaxAmount":10000.0,"transferRemainingAmount":8356.0,"maxOccurrence":6,"remainingOccurrence":5},"month":{"resetsOn":"2023-09-01T00:00:00.000Z","transferMaxAmount":50000.0,"transferRemainingAmount":35200.0},"transaction":{"transferMaxAmount":5000.0,"transferRemainingAmount":4990.0}}}}]}


+ Response 404 (application/json)

        Account with id not found

    + Attributes (Error1)


    + Body

            {"code":"701","message":"Account not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}




# Group Personal Information

Search and view customer or customers

## Accounts Contact By AccountId [/accounts/{accountId}/contact]

+ Parameters
    + accountId (string, required)

        Account Identifier


### getAccountContact [GET]
Get contact information on the account

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Details used to verify an account

    + Attributes (Account Contact entity)



+ Response 404 (application/json)

        Account with id not found

    + Attributes (Error1)


    + Body

            {"code":"701","message":"Account not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Customers [/customers{?offset,limit}]

### getCustomers [GET]
Retrieve account holders related to permissioned accounts
+ Parameters
    + offset (string, optional)

        Opaque cursor used by the provider to send the next set of records

    + limit (number, optional)

        Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Customers

    + Attributes (Customers Entity)




## Customers Current [/customers/current]

### getCustomerInfo [GET]
Get information about the customer within the authorization scope

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Data describing current authenticated customer

    + Attributes (Customer entity)




## Customers By CustomerId [/customers/{customerId}]

+ Parameters
    + customerId (string, required)

        Customer Identifier


### getCustomer [GET]
Retrieve customer information by customer id

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Customer

    + Attributes (Customer entity)



+ Response 404 (application/json)

        Customer with id not found

    + Attributes (Error1)


    + Body

            {"code":"601","message":"Customer not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}




# Group Reward Program Categories

View categories of reward programs

## Reward Programs Categories [/reward-programs/{rewardProgramId}/categories{?offset,limit}]

+ Parameters
    + rewardProgramId (string, required)

        Reward Program Identifier


### getRewardProgramCategories [GET]
Get reward categories
+ Parameters
    + offset (string, optional)

        Opaque cursor used by the provider to send the next set of records

    + limit (number, optional)

        Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Data describing a reward program's categories

    + Attributes (Reward Categories entity)


    + Body

            {"categories":[{"categoryName":"Amusement Park","categoryId":100,"multiplier":1,"description":"The Amusement Park category, including zoos, circuses and aquariums, covers establishments that operate parks or carnivals and offer mechanical rides and games and/or live animal shows."},{"categoryName":"Dining/Restaurant","categoryId":101,"multiplier":2,"description":"Merchants in the Dining/Restaurant category range from fast food restaurants to fine dining establishments. They fall into the Dining category if they primarily prepare food and drinks for immediate consumption on the premises or for take-out. Dining merchants include bars, cocktail lounges, nightclubs, taverns and fast-food restaurants. Some merchants that sell food and drinks are located within larger establishments that sell other goods and services and may not be not included in this category. For example a department store or hotel restaurant, theme park cafes or discount store food counter would not be categorized under Dining."},{"categoryName":"Entertainment","categoryId":102,"multiplier":2,"description":"Entertainment includes purchases made at sports promoters, movie theaters, theatrical promoters, amusement parks, tourist attractions, record stores and video rentals."},{"categoryName":"Hotels","categoryId":103,"multiplier":5,"description":"Hotels include businesses that provide sleeping or meeting room accommodations. Some goods and services that appear on a hotel bill are included. Often restaurants in hotels are categorized as a hotel purchase."}]}


+ Response 404 (application/json)

        Request is invalid

    + Attributes (Error1)


    + Body

            {"code":"1101","message":"Reward program Id not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}




# Group Reward Program Information

Search and view customer reward programs

## Reward Programs [/reward-programs{?offset,limit}]

### searchRewardPrograms [GET]
Query all reward programs
+ Parameters
    + offset (string, optional)

        Opaque cursor used by the provider to send the next set of records

    + limit (number, optional)

        Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Data describing reward programs associated with accounts

    + Attributes (Reward Programs entity)


    + Body

            {"rewardPrograms":[{"programName":"Marriott Bonvoy","rewardProgramId":"4FRCCQvGW0GZEMtsOQWlkQ","programUrl":"https://www.marriott.com/loyalty.mi","memberships":[{"accountIds":["af0f8e58-9649-4c29-bab2-0295d522cd6f","e75e31eb-bf04-4d87-9f20-4554f63a639e"],"businessOrConsumer":"CONSUMER","customerId":"kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne","memberId":"5ee28848b4f242a6b7a41e0daa03a824","memberNumber":"1783949940","memberTier":"Gold","balances":[{"name":"Points","type":"POINTS","balance":900,"accruedYtd":1000,"redeemedYtd":200,"qualifying":false},{"name":"Promotional","type":"POINTS","balance":900,"accrued":1000,"redeemed":200,"qualifying":false}]}]},{"programName":"United MileagePlus®","rewardProgramId":"GY4cHWCPxkqgkY61h4BKdQ","programUrl":"https://www.united.com/en/us/fly/mileageplus.html","memberships":[{"accountIds":["b4ef4572-452d-41bd-9d2d-1b29dafe63f0"],"businessOrConsumer":"BUSINESS","customerId":"kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne","memberId":"b6b319dd3e2c4592847ad6ee32d518bc","memberNumber":"9394970669","balances":[{"name":"Miles","type":"MILES","balance":900,"accrued":1000,"redeemed":200,"qualifying":false}]}]},{"programName":"Starbucks Rewards","rewardProgramId":"iqOtPUEYb0Go6SCL8As4fQ","programUrl":"https://www.starbucks.com/rewards","memberships":[{"accountIds":["89cf3262-ff38-4f6a-afbc-aafc50cac751"],"businessOrConsumer":"CONSUMER","customerId":"kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne","memberId":"95c1aeacd85e4783950a9c2d6e76efa9","memberNumber":"7417973194","balances":[{"name":"Stars","type":"POINTS","balance":900,"accrued":1000,"redeemed":200,"qualifying":false}]}]}]}



## Reward Programs By RewardProgramId [/reward-programs/{rewardProgramId}]

+ Parameters
    + rewardProgramId (string, required)

        Reward Program Identifier


### getRewardProgram [GET]
Get a specific reward program

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Data describing reward programs associated with accounts

    + Attributes (Reward Program entity)


    + Body

            {"programName":"Discover Cashback Bonus","rewardProgramId":"ywX9ME0FXUa6Mtj0xkOgtA","programUrl":"https://www.discover.com/credit-cards/cashback-bonus/","memberships":[{"accountIds":["af0f8e58-9649-4c29-bab2-0295d522cd6f","e75e31eb-bf04-4d87-9f20-4554f63a639e"],"businessOrConsumer":"CONSUMER","customerId":"kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne","memberId":"b0a853a278804e1694d3104709cbfb58","memberNumber":"6137299224","memberTier":"Gold","balances":[{"name":"Cashback","type":"CASHBACK","balance":101.95,"accruedYtd":4500.1,"redeemedYtd":234.45,"qualifying":false},{"name":"Cashback Match","type":"CASHBACK","balance":401.95,"accruedYtd":500.1,"redeemedYtd":134.45,"qualifying":false}]}]}


+ Response 404 (application/json)

        Reward program Id not found

    + Attributes (Error1)


    + Body

            {"code":"1101","message":"Reward program Id not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}




# Group Event Notifications

Manage Event Notifications

## Notification Subscriptions [/notification-subscriptions]

### createNotificationSubscription [POST]
Creates notification subscription entry on the server

+ Request (<<Add Header Value>>)
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH


    + Attributes (Notification Subscription entity)


    + Body

            {
                "type": "CONSENT_REVOKED",
                "category": "CONSENT",
                "callbackUrl": "https://abc.com/notification",
                "subscriber": {
                    "name": "ABC Inc",
                    "type": "DATA_ACCESS_PLATFORM",
                    "homeUri": "https://abc.com/logo",
                    "logoUri": "https://abc.com/logo",
                    "registry": "FDX",
                    "registeredEntityName": "ABC",
                    "registeredEntityId": "ABC123"
                },
                "effectiveDate": "2021-11-24",
                "subscriptionId": "GUID-SubscriptionId1"
            }


+ Response 201 (application/json)

        Created

    + Attributes (Notification Subscription entity)


    + Body

            {"type":"CONSENT_REVOKED","category":"CONSENT","callbackUrl":"https://abc.com/notification","subscriber":{"name":"ABC Inc","type":"DATA_ACCESS_PLATFORM","homeUri":"https://abc.com/logo","logoUri":"https://abc.com/logo","registry":"FDX","registeredEntityName":"ABC","registeredEntityId":"ABC123"},"effectiveDate":"2021-11-24","subscriptionId":"GUID-SubscriptionId2"}


+ Response 400 (application/json)

        Input sent by client does not satisfy API specification

    + Attributes (Error1)


    + Body

            {"code":"401","message":"Invalid Input","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 401 (application/json)

        Request lacks valid authentication credentials for the target resource

    + Attributes (Error1)


    + Body

            {"code":"603","message":"Authentication failed","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 405 (application/json)

        Method Not Allowed

    + Attributes (Error1)


    + Body

            {"code":"1206","message":"Method Not Allowed","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 429 (application/json)

        Too Many Requests

    + Attributes (Error1)


    + Body

            {"code":"1207","message":"Too Many Requests","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Notification Subscriptions [/notification-subscriptions/{subscriptionId}]

+ Parameters
    + subscriptionId (string, required)

        ID of notification subscription


### getNotificationSubscription [GET]
Call to get notification subscription

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        OK

    + Attributes (Notification Subscription entity)


    + Body

            {"type":"CONSENT_REVOKED","category":"CONSENT","callbackUrl":"https://abc.com/notification","subscriber":{"name":"ABC Inc","type":"DATA_ACCESS_PLATFORM","homeUri":"https://abc.com/logo","logoUri":"https://abc.com/logo","registry":"FDX","registeredEntityName":"ABC","registeredEntityId":"ABC123"},"effectiveDate":"2021-11-24","subscriptionId":"GUID-SubscriptionId2"}


+ Response 400 (application/json)

        Input sent by client does not satisfy API specification

    + Attributes (Error1)


    + Body

            {"code":"401","message":"Invalid Input","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 401 (application/json)

        Request lacks valid authentication credentials for the target resource

    + Attributes (Error1)


    + Body

            {"code":"603","message":"Authentication failed","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 405 (application/json)

        Method Not Allowed

    + Attributes (Error1)


    + Body

            {"code":"1206","message":"Method Not Allowed","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 429 (application/json)

        Too Many Requests

    + Attributes (Error1)


    + Body

            {"code":"1207","message":"Too Many Requests","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


### deleteNotificationSubscription [DELETE]
Delete a notification subscription

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 204 

        No Content




+ Response 400 (application/json)

        Bad Request

    + Attributes (Error1)



+ Response 401 (application/json)

        Request lacks valid authentication credentials for the target resource

    + Attributes (Error1)


    + Body

            {"code":"603","message":"Authentication failed","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 405 (application/json)

        Method Not Allowed

    + Attributes (Error1)


    + Body

            {"code":"1206","message":"Method Not Allowed","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 429 (application/json)

        Too Many Requests

    + Attributes (Error1)


    + Body

            {"code":"1207","message":"Too Many Requests","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Notifications [/notifications]

### publishNotification [POST]
Publish Notification

+ Request (<<Add Header Value>>)
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH


    + Attributes (Notification entity)


    + Body

            {
                "notificationId": "req123456-GUID",
                "type": "CONSENT_REVOKED",
                "sentOn": "2021-07-15T14:46:41.375Z",
                "category": "SECURITY",
                "severity": "EMERGENCY",
                "priority": "HIGH",
                "publisher": {
                    "name": "XYZ Inc",
                    "type": "DATA_ACCESS_PLATFORM",
                    "homeUri": "http://example.com",
                    "logoUri": "http://example.com",
                    "registry": "FDX",
                    "registeredEntityName": "XYZ",
                    "registeredEntityId": "xyz1234"
                },
                "subscriber": {
                    "name": "ABC Inc",
                    "type": "DATA_ACCESS_PLATFORM",
                    "homeUri": "http://example.com",
                    "logoUri": "http://example.com",
                    "registry": "FDX",
                    "registeredEntityName": "ABC",
                    "registeredEntityId": "ABC123"
                },
                "notificationPayload": {
                    "id": "ConsentID-1",
                    "idType": "CONSENT",
                    "customFields": {
                        "name": "INITIATOR",
                        "value": "INDIVIDUAL"
                    }
                },
                "url": {
                    "href": "https://api.xyz.com/fdx/v6/consents/ConsentID-1/revocation",
                    "action": "GET",
                    "rel": "consent",
                    "types": [
                        "application/json"
                    ]
                }
            }


+ Response 204 

        No Content




+ Response 405 (application/json)

        Method Not Allowed

    + Attributes (Error1)


    + Body

            {"code":"1206","message":"Method Not Allowed","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 429 (application/json)

        Too Many Requests

    + Attributes (Error1)


    + Body

            {"code":"1207","message":"Too Many Requests","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Notifications [/notifications{?limit,offset,dataRecipientId}]

### getNotifications [GET]
Get Notifications
+ Parameters
    + limit (number, optional)

        Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly

    + offset (string, optional)

        Opaque cursor used by the provider to send the next set of records

    + dataRecipientId (string, optional)

        ID of Data Recipient (DR), omit for all DRs of a Data Access Platform


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        OK

    + Attributes (Notifications entity)


    + Body

            {"notifications":[{"notificationId":"0a318518-ca16-4e66-1234","type":"RISK","sentOn":"2021-07-15T14:46:41.375Z","category":"FRAUD","severity":"EMERGENCY","priority":"HIGH","publisher":{"name":"XYZ Inc","type":"DATA_ACCESS_PLATFORM","homeUri":"http://example.com","logoUri":"http://example.com","registry":"FDX","registeredEntityName":"XYZ","registeredEntityId":"xyz1234"},"subscriber":{"name":"ABC Inc","type":"DATA_ACCESS_PLATFORM","homeUri":"http://example.com","logoUri":"http://example.com","registry":"FDX","registeredEntityName":"ABC","registeredEntityId":"ABC123"},"notificationPayload":{"id":"0a318518-ca16-4e66-be76-865a632ea771","idType":"ACCOUNT"},"url":{"href":"https://api.xyz.com/fdx/v4/notifications?dataRecipientId=FIREFLY","action":"GET","rel":"notification","types":["application/json"]}}]}


+ Response 405 (application/json)

        Method Not Allowed

    + Attributes (Error1)


    + Body

            {"code":"1206","message":"Method Not Allowed","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 429 (application/json)

        Too Many Requests

    + Attributes (Error1)


    + Body

            {"code":"1207","message":"Too Many Requests","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}




# Group Fraud Notification

Notify of suspected fraud

## Fraud Suspected Incident [/fraud/suspected-incident]

### reportSuspectedFraudIncident [POST]
Notify Data Provider of suspected fraud

+ Request (<<Add Header Value>>)
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH


    + Attributes (Suspected Fraud Incident entity)


    + Body

            {
                "type": "RISK",
                "suspectedIncidentId": "0a318518-ca16-4e66-be76-865a632ea771",
                "reporter": {
                    "name": "ABC Inc",
                    "type": "DATA_ACCESS_PLATFORM",
                    "homeUri": "http://example.com",
                    "logoUri": "http://example.com",
                    "registry": "FDX",
                    "registeredEntityName": "ABC",
                    "registeredEntityId": "ABC123"
                }
            }


+ Response 200 

        OK






# Group Meta

API management and metrics

## Availability [/availability{?operationId}]

### getAvailability [GET]
Get information about this API's availability
+ Parameters
    + operationId (enum[string], optional)

        Specific operationId for which to get the metrics. Optional

        + Members
            + `getConsentGrant` 
            + `getConsentRevocation` 
            + `revokeConsentGrant` 
            + `getAccount` 
            + `getAccountAssetTransferNetworks` 
            + `getAccountContact` 
            + `getAccountPaymentNetworks` 
            + `getAccountStatement` 
            + `getAccountTransactionImages` 
            + `getRewardProgram` 
            + `getRewardProgramCategories` 
            + `searchForAccounts` 
            + `searchForAccountStatements` 
            + `searchForAccountTransactions` 
            + `searchRewardPrograms` 
            + `getCustomer` 
            + `getCustomerInfo` 
            + `getCustomers` 
            + `createNotificationSubscription` 
            + `deleteNotificationSubscription` 
            + `getNotifications` 
            + `getNotificationSubscription` 
            + `publishNotification` 
            + `reportSuspectedFraudIncident` 
            + `getAvailability` 
            + `getCapability` 
            + `getCertificationMetrics` 
            + `cancelPayment` 
            + `cancelRecurringPayment` 
            + `cancelTransfer` 
            + `createPayee` 
            + `createPaymentInitiationParty` 
            + `createPaymentMethod` 
            + `deletePayee` 
            + `deletePaymentInitiationParty` 
            + `deletePaymentMethodRegistration` 
            + `getPayee` 
            + `getPayment` 
            + `getPaymentInitiationParty` 
            + `getPaymentMethodRegistration` 
            + `getPaymentsForRecurringPayment` 
            + `getRecurringPayment` 
            + `getTransfer` 
            + `listPaymentInitiationParties` 
            + `requestAccountTransfer` 
            + `schedulePayment` 
            + `scheduleRecurringPayment` 
            + `searchForPayees` 
            + `searchForPayments` 
            + `searchForRecurringPayments` 
            + `searchForTransfers` 
            + `updatePayee` 
            + `updatePayment` 
            + `updatePaymentInitiationParty` 
            + `updatePaymentMethodRegistration` 
            + `updateRecurringPayment` 
            + `getPayrollReport` 
            + `getPayrollReports` 
            + `createRecipient` 
            + `deleteRecipient` 
            + `getRecipient` 
            + `updateRecipient` 
            + `getRegistryRecipient` 
            + `getRegistryRecipients` 
            + `createTaxForm` 
            + `getTaxForm` 
            + `searchForTaxForms` 
            + `updateTaxForm` 
            + `getResource` 
            + `getResources` 


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Status and planned times of API availability

    + Attributes (Availability List entity)




## Capability [/capability{?operationId,fdxVersion,resultType}]

### getCapability [GET]
Get information about this API's capability
+ Parameters
    + operationId (enum[string], optional)

        Specific operationId for which to get the metrics. Optional

        + Members
            + `getConsentGrant` 
            + `getConsentRevocation` 
            + `revokeConsentGrant` 
            + `getAccount` 
            + `getAccountAssetTransferNetworks` 
            + `getAccountContact` 
            + `getAccountPaymentNetworks` 
            + `getAccountStatement` 
            + `getAccountTransactionImages` 
            + `getRewardProgram` 
            + `getRewardProgramCategories` 
            + `searchForAccounts` 
            + `searchForAccountStatements` 
            + `searchForAccountTransactions` 
            + `searchRewardPrograms` 
            + `getCustomer` 
            + `getCustomerInfo` 
            + `getCustomers` 
            + `createNotificationSubscription` 
            + `deleteNotificationSubscription` 
            + `getNotifications` 
            + `getNotificationSubscription` 
            + `publishNotification` 
            + `reportSuspectedFraudIncident` 
            + `getAvailability` 
            + `getCapability` 
            + `getCertificationMetrics` 
            + `cancelPayment` 
            + `cancelRecurringPayment` 
            + `cancelTransfer` 
            + `createPayee` 
            + `createPaymentInitiationParty` 
            + `createPaymentMethod` 
            + `deletePayee` 
            + `deletePaymentInitiationParty` 
            + `deletePaymentMethodRegistration` 
            + `getPayee` 
            + `getPayment` 
            + `getPaymentInitiationParty` 
            + `getPaymentMethodRegistration` 
            + `getPaymentsForRecurringPayment` 
            + `getRecurringPayment` 
            + `getTransfer` 
            + `listPaymentInitiationParties` 
            + `requestAccountTransfer` 
            + `schedulePayment` 
            + `scheduleRecurringPayment` 
            + `searchForPayees` 
            + `searchForPayments` 
            + `searchForRecurringPayments` 
            + `searchForTransfers` 
            + `updatePayee` 
            + `updatePayment` 
            + `updatePaymentInitiationParty` 
            + `updatePaymentMethodRegistration` 
            + `updateRecurringPayment` 
            + `getPayrollReport` 
            + `getPayrollReports` 
            + `createRecipient` 
            + `deleteRecipient` 
            + `getRecipient` 
            + `updateRecipient` 
            + `getRegistryRecipient` 
            + `getRegistryRecipients` 
            + `createTaxForm` 
            + `getTaxForm` 
            + `searchForTaxForms` 
            + `updateTaxForm` 
            + `getResource` 
            + `getResources` 

    + fdxVersion (enum[string], optional)

        Specific FDX version for which to get the capability. Optional

        + Members
            + `V1.0` 
            + `V2.0` 
            + `V2.1` 
            + `V3.0` 
            + `V4.0` 
            + `V4.1` 
            + `V4.2` 
            + `V4.5` 
            + `V4.6` 
            + `V4.6.1` 
            + `V4.6.2` 
            + `V5.0` 
            + `V5.0.0` 
            + `V5.0.1` 
            + `V5.0.2` 
            + `V5.0.3` 
            + `V5.1` 
            + `V5.1.0` 
            + `V5.1.1` 
            + `V5.1.2` 
            + `V5.2` 
            + `V5.2.0` 
            + `V5.2.1` 
            + `V5.2.2` 
            + `V5.2.3` 
            + `V5.2.4` 
            + `V5.3` 
            + `V5.3.0` 
            + `V5.3.1` 
            + `V5.3.2` 
            + `V5.3.3` 
            + `V6.0.0` 
            + `V6.1.0` 
            + `V6.2.0` 

    + resultType (enum[string], optional)

        Flag to indicate if you want a lightweight array of metadata (AccountDescriptor or Tax or Operations) or full item details (Account or a Tax subclass or Availability details). If set to 'lightweight', should only return the fields associated with the metadata entity. This field is not required, defaults to lightweight

        + Default: lightweight
        + Members
            + `details` 
            + `lightweight` 


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        API's capability for connections, cutoff times and product types

    + Attributes (Capability entity)




## Certification Metrics [/certification-metrics{?operationId}]

### getCertificationMetrics [GET]
Get certification performance metrics for this implementer's APIs
+ Parameters
    + operationId (enum[string], optional)

        Specific operationId for which to get the metrics. Optional

        + Members
            + `getConsentGrant` 
            + `getConsentRevocation` 
            + `revokeConsentGrant` 
            + `getAccount` 
            + `getAccountAssetTransferNetworks` 
            + `getAccountContact` 
            + `getAccountPaymentNetworks` 
            + `getAccountStatement` 
            + `getAccountTransactionImages` 
            + `getRewardProgram` 
            + `getRewardProgramCategories` 
            + `searchForAccounts` 
            + `searchForAccountStatements` 
            + `searchForAccountTransactions` 
            + `searchRewardPrograms` 
            + `getCustomer` 
            + `getCustomerInfo` 
            + `getCustomers` 
            + `createNotificationSubscription` 
            + `deleteNotificationSubscription` 
            + `getNotifications` 
            + `getNotificationSubscription` 
            + `publishNotification` 
            + `reportSuspectedFraudIncident` 
            + `getAvailability` 
            + `getCapability` 
            + `getCertificationMetrics` 
            + `cancelPayment` 
            + `cancelRecurringPayment` 
            + `cancelTransfer` 
            + `createPayee` 
            + `createPaymentInitiationParty` 
            + `createPaymentMethod` 
            + `deletePayee` 
            + `deletePaymentInitiationParty` 
            + `deletePaymentMethodRegistration` 
            + `getPayee` 
            + `getPayment` 
            + `getPaymentInitiationParty` 
            + `getPaymentMethodRegistration` 
            + `getPaymentsForRecurringPayment` 
            + `getRecurringPayment` 
            + `getTransfer` 
            + `listPaymentInitiationParties` 
            + `requestAccountTransfer` 
            + `schedulePayment` 
            + `scheduleRecurringPayment` 
            + `searchForPayees` 
            + `searchForPayments` 
            + `searchForRecurringPayments` 
            + `searchForTransfers` 
            + `updatePayee` 
            + `updatePayment` 
            + `updatePaymentInitiationParty` 
            + `updatePaymentMethodRegistration` 
            + `updateRecurringPayment` 
            + `getPayrollReport` 
            + `getPayrollReports` 
            + `createRecipient` 
            + `deleteRecipient` 
            + `getRecipient` 
            + `updateRecipient` 
            + `getRegistryRecipient` 
            + `getRegistryRecipients` 
            + `createTaxForm` 
            + `getTaxForm` 
            + `searchForTaxForms` 
            + `updateTaxForm` 
            + `getResource` 
            + `getResources` 


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Array of API's certification metrics

    + Attributes (Certification Metrics entity)





# Group Internal Transfers

Manage internal transfers

## Transfers [/transfers{?updatedSince,offset,limit,searchStartTransferDate,searchEndTransferDate,searchFromAccountIds,searchToAccountIds,searchStatuses,searchTransferIds}]

### searchForTransfers [GET]
Search for transfers
+ Parameters
    + updatedSince (string, optional)

        Return items that have been created or updated since the nextUpdateId

    + offset (string, optional)

        Opaque cursor used by the provider to send the next set of records

    + limit (number, optional)

        Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly

    + searchStartTransferDate (string, optional)

        Start time for use in retrieval of transfers by transfer date

        + Sample: 2021-07-15
    + searchEndTransferDate (string, optional)

        End time for use in retrieval of transfers by transfer date

        + Sample: 2021-07-15
    + searchFromAccountIds (array[string], optional)

        Search for transfers by source account

    + searchToAccountIds (array[string], optional)

        Search for transfers by source account

    + searchStatuses (array[string], optional)

        Search for transfers by source account

        + Members
            + `CANCELLED` 
            + `FAILED` 
            + `NOFUNDS` 
            + `PROCESSED` 
            + `PROCESSING` 
            + `SCHEDULED` 

    + searchTransferIds (array[string], optional)

        Search for transfers by id


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Success

    + Attributes (Transfers entity)



+ Response 400 (application/json)

        Start or end date value is not in the ISO 8601 format

    + Attributes (Error1)


    + Body

            {"code":"702","message":"Invalid start or end date","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 404 (application/json)

        Data not found for request parameters

    + Attributes (Error1)


    + Body

            {"code":"1107","message":"Data not found for request parameters","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Transfers [/transfers]

### requestAccountTransfer [POST]
Create a transfer between accounts

+ Request (<<Add Header Value>>)
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            idempotency-key:<<Add Header Value>>
            FDX-API-Actor-Type:BATCH


    + Attributes (Transfer for Create entity1)


    + Body

            {
                "transferId": "MY-TRANSFER-ID",
                "fromAccountId": "ACCOUNT-123",
                "toAccountId": "ACCOUNT-456",
                "amount": 100,
                "memo": "FDX Transfer Example",
                "paymentDetails": {
                    "principalAmount": 75,
                    "interestAmount": 10,
                    "insuranceAmount": 5,
                    "escrowAmount": 5,
                    "pmiAmount": 5,
                    "feesAmount": 0
                }
            }


+ Response 200 (application/json)

        Initial status of the requested transfer

    + Attributes (Transfer entity)


    + Body

            {"transferId":"MY-TRANSFER-ID","fromAccountId":"ACCOUNT-123","toAccountId":"ACCOUNT-456","amount":100,"memo":"FDX Transfer Example","paymentDetails":{"principalAmount":75,"interestAmount":10,"insuranceAmount":5,"escrowAmount":5,"pmiAmount":5,"feesAmount":0},"referenceId":"FI-TRANSFER-ID","status":"SCHEDULED","transferTime":"2021-03-14T13:15:30.751Z"}


+ Response 400 (application/json)

        Source account does not have sufficient funds

    + Attributes (Error1)


    + Body

            {"code":"910","message":"Insufficient funds","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 401 (application/json)

        Account not authorized for transfer

    + Attributes (Error1)


    + Body

            {"code":"903","message":"Source account not authorized for transfer","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 404 (application/json)

        Requested transfer is invalid

    + Attributes (Error1)


    + Body

            {"code":"901","message":"Source account not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 409 (application/json)

        Duplicate transfer request

    + Attributes (Error1)


    + Body

            {"code":"908","message":"Duplicate transfer request","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Transfers By TransferId [/transfers/{transferId}]

+ Parameters
    + transferId (string, required)

        Transfer identifier


### getTransfer [GET]
Get a transfer been accounts

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Ok

    + Attributes (Transfer entity)


    + Body

            {"transferId":"MY-TRANSFER-ID","fromAccountId":"ACCOUNT-123","toAccountId":"ACCOUNT-456","amount":100,"memo":"FDX Transfer Example","paymentDetails":{"principalAmount":75,"interestAmount":10,"insuranceAmount":5,"escrowAmount":5,"pmiAmount":5,"feesAmount":0},"referenceId":"FI-TRANSFER-ID","status":"SCHEDULED","transferTime":"2021-03-14T13:15:30.751Z"}


### cancelTransfer [DELETE]
Cancel a transfer between accounts

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Ok

    + Attributes (Transfer entity)


    + Body

            {"transferId":"MY-TRANSFER-ID","fromAccountId":"ACCOUNT-123","toAccountId":"ACCOUNT-456","amount":100,"memo":"FDX Transfer Example","paymentDetails":{"principalAmount":75,"interestAmount":10,"insuranceAmount":5,"escrowAmount":5,"pmiAmount":5,"feesAmount":0},"referenceId":"FI-TRANSFER-ID","status":"SCHEDULED","transferTime":"2021-03-14T13:15:30.751Z"}




# Group Payee Management

Manage payees for payments

## Payees [/payees{?updatedSince,offset,limit}]

### searchForPayees [GET]
Search for payees
+ Parameters
    + updatedSince (string, optional)

        Return items that have been created or updated since the nextUpdateId

    + offset (string, optional)

        Opaque cursor used by the provider to send the next set of records

    + limit (number, optional)

        Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Ok

    + Attributes (Payees entity)


    + Body

            {"page":{"nextOffset":"next-offset-123-xyz","prevOffset":"prev-offset-456-abc","totalElements":100},"updates":{"nextUpdateId":"next-update-id-456-krl"},"links":{"next":{"href":"/payees?offset=next-offset-123-xyz"},"prev":{"href":"/payees?offset=prev-offset-456-abc"},"updates":{"href":"/payees?updatedSince=next-update-id-456-krl"}},"payees":[{"merchant":{"displayName":"My Cell Phone Biller","name":{"company":"US Cellular"},"address":{"line1":"10 Cellular way","city":"New York","region":"NY","postalCode":"10001"},"phone":{"type":"CELL","country":"+1","number":"2013329944"},"payeeId":"payee-1001","merchantAccountIds":["999900008888"],"status":"ACTIVE","expiresTimestamp":"2025-03-15T13:29:19+0000"}}]}


+ Response 404 (application/json)

        Data not found for request parameters

    + Attributes (Error1)


    + Body

            {"code":"1107","message":"Data not found for request parameters","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Payees [/payees]

### createPayee [POST]
Create a payee

+ Request (<<Add Header Value>>)
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            idempotency-key:<<Add Header Value>>
            FDX-API-Actor-Type:BATCH


    + Attributes (Payee For Update entity1)


    + Body

            {
                "merchant": {
                    "displayName": "My Cell Phone Biller",
                    "name": {
                        "first": "Junie",
                        "middle": "B",
                        "last": "Jones",
                        "suffix": "Jr",
                        "prefix": "Ms",
                        "company": "US Cellular"
                    },
                    "address": {
                        "line1": "10 Cellular way",
                        "city": "New York",
                        "region": "NY",
                        "postalCode": "10001"
                    },
                    "phone": {
                        "type": "BUSINESS",
                        "country": "+1",
                        "number": "2013329944"
                    },
                    "merchantAccountIds": [
                        "999900008888"
                    ]
                }
            }


+ Response 200 (application/json)

        Payee Exists

    + Attributes (Payee entity)


    + Body

            {"merchant":{"displayName":"My Cell Phone Biller","name":{"company":"US Cellular"},"address":{"line1":"10 Cellular way","city":"New York","region":"NY","postalCode":"10001"},"phone":{"type":"CELL","country":"+1","number":"2013329944"},"payeeId":"payee-1001","merchantAccountIds":["999900008888"],"status":"ACTIVE","expiresTimestamp":"2025-03-15T13:29:19+0000"}}


+ Response 201 (application/json)

        Created

    + Attributes (Payee entity)


    + Body

            {"merchant":{"displayName":"My Cell Phone Biller","name":{"company":"US Cellular"},"address":{"line1":"10 Cellular way","city":"New York","region":"NY","postalCode":"10001"},"phone":{"type":"CELL","country":"+1","number":"2013329944"},"payeeId":"payee-1001","merchantAccountIds":["999900008888"],"status":"ACTIVE","expiresTimestamp":"2025-03-15T13:29:19+0000"}}


+ Response 409 (application/json)

        Duplicate Request

    + Attributes (Payee entity)


    + Body

            {"merchant":{"displayName":"My Cell Phone Biller","name":{"company":"US Cellular"},"address":{"line1":"10 Cellular way","city":"New York","region":"NY","postalCode":"10001"},"phone":{"type":"CELL","country":"+1","number":"2013329944"},"payeeId":"payee-1001","merchantAccountIds":["999900008888"],"status":"ACTIVE","expiresTimestamp":"2025-03-15T13:29:19+0000"}}



## Payees By PayeeId [/payees/{payeeId}]

+ Parameters
    + payeeId (string, required)

        Payee Identifier. Uniquely identifies a payee


### getPayee [GET]
Get a payee

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Ok

    + Attributes (Payee entity)


    + Body

            {"merchant":{"displayName":"My Cell Phone Biller","name":{"company":"US Cellular"},"address":{"line1":"10 Cellular way","city":"New York","region":"NY","postalCode":"10001"},"phone":{"type":"CELL","country":"+1","number":"2013329944"},"payeeId":"payee-1001","merchantAccountIds":["999900008888"],"status":"ACTIVE","expiresTimestamp":"2025-03-15T13:29:19+0000"}}


+ Response 404 (application/json)

        Payee with provided ID was not found

    + Attributes (Error1)


    + Body

            {"code":"800","message":"Payee not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


### updatePayee [PATCH]
Used to update an existing payee. The payee type must match the existing payee. This call updates the payee's fields to the values provided. If a field is not provided, the payee's field is not updated

+ Request (<<Add Header Value>>)
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            idempotency-key:<<Add Header Value>>
            FDX-API-Actor-Type:BATCH


    + Attributes (Payee For Update entity)


    + Body

            {
                "merchant": {
                    "displayName": "My Business Cell Phone Biller"
                }
            }


+ Response 200 (application/json)

        Ok

    + Attributes (Payee entity)


    + Body

            {"merchant":{"displayName":"My Cell Phone Biller","name":{"company":"US Cellular"},"address":{"line1":"10 Cellular way","city":"New York","region":"NY","postalCode":"10001"},"phone":{"type":"CELL","country":"+1","number":"2013329944"},"payeeId":"payee-1001","merchantAccountIds":["999900008888"],"status":"ACTIVE","expiresTimestamp":"2025-03-15T13:29:19+0000"}}


+ Response 400 (application/json)

        Input sent by client does not satisfy API specification

    + Attributes (Error1)


    + Body

            {"code":"401","message":"Invalid Input","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 404 (application/json)

        Payee with provided ID was not found

    + Attributes (Error1)


    + Body

            {"code":"800","message":"Payee not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 409 (application/json)

        Duplicate Request

    + Attributes (Payee entity)


    + Body

            {"merchant":{"displayName":"My Cell Phone Biller","name":{"company":"US Cellular"},"address":{"line1":"10 Cellular way","city":"New York","region":"NY","postalCode":"10001"},"phone":{"type":"CELL","country":"+1","number":"2013329944"},"payeeId":"payee-1001","merchantAccountIds":["999900008888"],"status":"ACTIVE","expiresTimestamp":"2025-03-15T13:29:19+0000"}}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


### deletePayee [DELETE]
Delete a payee

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        Ok

    + Attributes (Payee entity)


    + Body

            {"merchant":{"status":"DELETED"}}


+ Response 400 (application/json)

        Payee cannot be modified or deleted

    + Attributes (Error1)


    + Body

            {"code":"801","message":"Payee cannot be modified or deleted","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 404 (application/json)

        Payee with provided ID was not found

    + Attributes (Error1)


    + Body

            {"code":"800","message":"Payee not found","debugMessage":"Provider custom developer-level error details for troubleshooting"}


+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}




# Group Payment Initiation Parties

Manage payment initiation parties

## Payment Initiation Parties [/payment-initiation-parties]

### createPaymentInitiationParty [POST]
Create a payment initiation party associated with a customer profile

+ Request (<<Add Header Value>>)
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            idempotency-key:<<Add Header Value>>
            FDX-API-Actor-Type:BATCH


    + Attributes (Payment Initiation Party entity)



+ Response 201 (application/json)

        Created payment initiation party

    + Attributes (Payment Initiation Party Create Response entity)



+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Payment Initiation Parties [/payment-initiation-parties{?offset,limit}]

### listPaymentInitiationParties [GET]
Retrieve the payment initiation parties associated with a customer profile
+ Parameters
    + offset (string, optional)

        Opaque cursor used by the provider to send the next set of records

    + limit (number, optional)

        Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly


+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        OK

    + Attributes (Payment Initiation Parties entity)



+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Payment Initiation Parties [/payment-initiation-parties/{paymentInitiationPartyId}]

+ Parameters
    + paymentInitiationPartyId (string, required)

        This is an unique identifier of a payment initiation party


### getPaymentInitiationParty [GET]
Retrieve the payment initiation party details by ID

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        OK

    + Attributes (Payment Initiation Party entity)



+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


### updatePaymentInitiationParty [PATCH]
Update the payment initiation party associated with a customer profile

+ Request (<<Add Header Value>>)
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            idempotency-key:<<Add Header Value>>
            FDX-API-Actor-Type:BATCH


    + Attributes (Payment Initiation Party entity)



+ Response 200 

        OK




+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


### deletePaymentInitiationParty [DELETE]
Remove the payment initiation party associated with a customer profile

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 204 

        No Content




+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Payment Initiation Parties Payment Methods [/payment-initiation-parties/{paymentInitiationPartyId}/payment-methods]

+ Parameters
    + paymentInitiationPartyId (string, required)

        This is an unique identifier of a payment initiation party


### createPaymentMethod [POST]
Registration of a payment initiation party to a payment method

+ Request (<<Add Header Value>>)
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            idempotency-key:<<Add Header Value>>
            FDX-API-Actor-Type:BATCH


    + Attributes (Payment Initiation Party To Payment Method entity)



+ Response 201 (application/json)

        Created payment method registration

    + Attributes (Payment Initiation Party Method Create Response entity)



+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}



## Payment Initiation Parties Payment Methods [/payment-initiation-parties/{paymentInitiationPartyId}/payment-methods/{paymentMethodRegistrationId}]

+ Parameters
    + paymentInitiationPartyId (string, required)

        This is an unique identifier of a payment initiation party

    + paymentMethodRegistrationId (string, required)

        Registration identifier between a payment initiation party and a payment method


### getPaymentMethodRegistration [GET]
Retrieve the details of a payment method registered with a payment initiation party

+ Request 
    + Headers

            x-fapi-interaction-id:c770aef3-6784-41f7-8e0e-ff5f97bddb3a
            FDX-API-Actor-Type:BATCH





+ Response 200 (application/json)

        OK

    + Attributes (Payment Initiation Party To Payment Method entity)



+ Response 500 (application/json)

        Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error

    + Attributes (Error1)


    + Body

            {"code":"500","message":"Internal server error","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 501 (application/json)

        Error when FdxVersion in Header is not one of those implemented at backend

    + Attributes (Error1)


    + Body

            {"code":"1106","message":"FdxVersion not supported or not implemented","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


+ Response 503 (application/json)

        System is down for maintenance

    + Attributes (Error1)


    + Body

            {"code":"503","message":"Scheduled Maintenance","debugMessage":"Data Provider's custom developer-level error details for troubleshooting"}


[...]
