swagger: '2.0'
info:
  version: '6.2.0'
  title: FDX API
  description: Financial Data Exchange V6.2.0 Consent API
  contact:
    email: fdxsupport@financialdataexchange.org
    name: Financial Data Exchange
    url: https://financialdataexchange.org/
host: financialdataexchange-prod.apigee.net
basePath: /fdx-consent-api-v6.2.0
securityDefinitions:
  TaxBasicAuth:
    type: basic
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /consents/{consentId}:
    get:
      description: Get a Consent Grant
      summary: getConsentGrant
      tags:
      - User Consent
      operationId: getConsentGrant
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: consentId
        in: path
        required: true
        type: string
        maxLength: 256
        description: Consent Identifier
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/ConsentGrantentity'
          examples:
            application/json:
              id: 9585694d3ae58863
              status: ACTIVE
              parties:
              - name: Seedling App
                type: DATA_RECIPIENT
                homeUri: https://www.seedling.com
                logoUri: https://www.seedling.com/assets/seedling-logo.png
                registry: FDX
                registeredEntityName: Oak Tree Holdings, Inc
                registeredEntityId: 5493001052I34KDC1O18
              - name: Midwest Primary Bank, NA
                type: DATA_PROVIDER
                homeUri: https://www.midwest.com
                logoUri: https://www.midwest.com/81d88112572c.jpg
                registry: GLEIF
                registeredEntityName: Midwest Primary Bank, NA
                registeredEntityId: 549300ATG070THRDJ595
              createdTime: 2021-07-03T21:28:10.375Z
              expirationTime: 2021-07-03T22:28:10.374Z
              durationType: ONE_TIME
              lookbackPeriod: 60
              resources:
              - resourceType: ACCOUNT
                resourceId: b14e1e714693bc00
                dataClusters:
                - ACCOUNT_DETAILED
                - TRANSACTIONS
                - STATEMENTS
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '401':
          description: Request lacks valid authentication credentials for the target resource
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '603'
              message: Authentication failed
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Data not found for request parameters
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1107'
              message: Data not found for request parameters
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /consents/{consentId}/revocation:
    put:
      description: Revoke a Consent Grant
      summary: revokeConsentGrant
      tags:
      - User Consent
      operationId: revokeConsentGrant
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: consentId
        in: path
        required: true
        type: string
        maxLength: 256
        description: Consent Identifier
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Reason and initiator of revocation
        schema:
          $ref: '#/definitions/Consentrevocationrequestentity'
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '204':
          description: No Content
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '400':
          description: Input sent by client does not satisfy API specification
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '401'
              message: Invalid Input
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '401':
          description: Request lacks valid authentication credentials for the target resource
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '603'
              message: Authentication failed
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '403':
          description: Forbidden, server understands the request but refuses to authorize it
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '403'
              message: Forbidden
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Data not found for request parameters
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1107'
              message: Data not found for request parameters
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '409':
          description: Conflict with current state of target resource
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '409'
              message: Conflict with current state of target resource
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
    get:
      description: Retrieve Consent Revocation record
      summary: getConsentRevocation
      tags:
      - User Consent
      operationId: getConsentRevocation
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: consentId
        in: path
        required: true
        type: string
        maxLength: 256
        description: Consent Identifier
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/ConsentRevocationListentity'
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /accounts:
    get:
      description: Return information for all of the customer's consented accounts or just those accounts identified in the `accountIds` request parameter. Use `ResultTypeQuery` parameter value of `lightweight` to retrieve minimal descriptive information and the `accountId` for each account. The `accountId` can then be used in the `getAccount` operation's path `/accounts/{accountId}` to retrieve full details about each account
      summary: searchForAccounts
      tags:
      - Account Information
      operationId: searchForAccounts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      - name: accountIds
        in: query
        required: false
        type: array
        items:
          type: string
        description: Comma separated list of account ids
      - name: startTime
        in: query
        required: false
        type: array
        items:
          type: string
          format: date
        description: Start time for use in retrieval of transactions
      - name: endTime
        in: query
        required: false
        type: array
        items:
          type: string
          format: date
        description: End time for use in retrieval of transactions
      - name: resultType
        in: query
        required: false
        enum:
        - details
        - lightweight
        default: lightweight
        type: string
        description: Flag to indicate if you want a lightweight array of metadata (AccountDescriptor or Tax or Operations) or full item details (Account or a Tax subclass or Availability details). If set to 'lightweight', should only return the fields associated with the metadata entity. This field is not required, defaults to lightweight
      - name: offset
        in: query
        required: false
        type: string
        description: Opaque cursor used by the provider to send the next set of records
      - name: limit
        in: query
        required: false
        type: integer
        format: int32
        description: Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly
      responses:
        '200':
          description: Array of accounts (DepositAccount, LoanAccount, LineOfCreditAccount, InvestmentAccount, InsuranceAccount, AnnuityAccount, CommercialAccount, or DigitalWallet)
          schema:
            $ref: '#/definitions/Accountsentity'
          examples:
            application/json:
              page:
                nextOffset: '2'
                total: 3
              links:
                next:
                  href: /accounts?offSet=2&limit=10
              accounts:
              - accountCategory: DEPOSIT_ACCOUNT
                accountId: '10001'
                nickname: My Checking Acc XXXX3223
                status: OPEN
                balanceAsOf: 2017-11-05T13:15:30.751Z
                currentBalance: 13300.35
                openingDayBalance: 500
              - accountCategory: DEPOSIT_ACCOUNT
                accountId: '10002'
                nickname: My Checking Acc XXXX4443
                status: OPEN
                balanceAsOf: 2017-11-05T13:15:30.751Z
                currentBalance: 332.22
                openingDayBalance: 100
              - accountCategory: LOAN_ACCOUNT
                accountId: '20001'
                nickname: My Mortgage Acc XXXX9979
                status: OPEN
                balanceAsOf: 2017-11-05T13:15:30.751Z
                principalBalance: 133000.35
                loanTerm: 30
                nextPaymentDate: 2017-12-01
                nextPaymentAmount: 2333.32
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '400':
          description: Start or end date value is not in the ISO 8601 format
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '702'
              message: Invalid start or end date
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Data not found for request parameters
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1107'
              message: Data not found for request parameters
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /accounts/{accountId}:
    get:
      description: Retrieve full details about the account identified by `{accountId}` parameter
      summary: getAccount
      tags:
      - Account Information
      operationId: getAccount
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '200':
          description: This can be one of LoanAccount, DepositAccount, LineOfCreditAccount, InvestmentAccount, InsuranceAccount, AnnuityAccount, CommercialAccount, or DigitalWallet
          schema: {}
          examples:
            application/json:
              accountCategory: LOAN_ACCOUNT
              accountId: '12345678'
              accountType: LOAN
              displayName: XXXXX4567
              status: OPEN
              description: 30 Year Mortgage
              nickname: My Home Mortgage
              currency:
                currencyCode: USD
              interestRate: 4
              loanTerm: 0
              totalNumberOfPayments: 0
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '701'
              message: Account not found
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /accounts/{accountId}/statements:
    get:
      description: 'Get account statements. Example: GET /accounts/{accountId}/statements?startTime=value1&endTime=value2'
      summary: searchForAccountStatements
      tags:
      - Account Statements
      operationId: searchForAccountStatements
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      - name: startTime
        in: query
        required: false
        type: string
        format: date
        description: Start time for use in retrieval of elements (ISO 8601)
      - name: endTime
        in: query
        required: false
        type: string
        format: date
        description: End time for use in retrieval of elements (ISO 8601)
      - name: offset
        in: query
        required: false
        type: string
        description: Opaque cursor used by the provider to send the next set of records
      - name: limit
        in: query
        required: false
        type: integer
        format: int32
        description: Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly
      responses:
        '200':
          description: Paginated list of available statements
          schema:
            $ref: '#/definitions/Anarrayofstatements'
          examples:
            application/json:
              page:
                nextOffset: '2'
                total: 3
              links:
                next:
                  href: /accounts/1111/statements?offSet=2&limit=10
              statements:
              - accountId: '10001'
                statementId: '40004'
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '400':
          description: Start or end date value is not in the ISO 8601 format
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '702'
              message: Invalid start or end date
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '701'
              message: Account not found
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /accounts/{accountId}/statements/{statementId}:
    get:
      description: Gets an account statement image file. Use [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) to specify desired content types. See ContentTypes definition for typical values
      summary: getAccountStatement
      tags:
      - Account Statements
      operationId: getAccountStatement
      deprecated: false
      produces:
      - application/pdf
      - image/gif
      - image/jpeg
      - image/tiff
      - image/png
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: statementId
        in: path
        required: true
        type: string
        description: Statement Identifier
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '200':
          description: An image of an account statement
          schema: {}
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '302':
          description: Statement is available at specified location. URL is returned via the `Location` HTTP header
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '400':
          description: Statement is processing and is not yet available
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1300'
              message: Statement is Processing
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: When account is present with no statements in it
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1108'
              message: Statements not found for given Account
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '406':
          description: Content Type not Supported
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1203'
              message: Content Type not Supported
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /accounts/{accountId}/transaction-images/{imageId}:
    get:
      description: Get account transaction image
      summary: getAccountTransactionImages
      tags:
      - Account Transactions
      operationId: getAccountTransactionImages
      deprecated: false
      produces:
      - application/pdf
      - image/gif
      - image/jpeg
      - image/tiff
      - image/png
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: imageId
        in: path
        required: true
        type: string
        description: Image Identifier
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '200':
          description: An image of transaction (such as a scanned check)
          schema: {}
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Account or image with id not found
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '701'
              message: Account not found
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '406':
          description: Content Type not Supported
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1203'
              message: Content Type not Supported
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /accounts/{accountId}/transactions:
    get:
      description: 'Search for account transactions. Example: /accounts/{accountId}/transactions?startTime=value1&endTime=value2'
      summary: searchForAccountTransactions
      tags:
      - Account Transactions
      operationId: searchForAccountTransactions
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      - name: startTime
        in: query
        required: false
        type: string
        format: date
        description: Start time for use in retrieval of elements (ISO 8601)
      - name: endTime
        in: query
        required: false
        type: string
        format: date
        description: End time for use in retrieval of elements (ISO 8601)
      - name: offset
        in: query
        required: false
        type: string
        description: Opaque cursor used by the provider to send the next set of records
      - name: limit
        in: query
        required: false
        type: integer
        format: int32
        description: Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly
      responses:
        '200':
          description: Paginated collection of transactions, which can be one of DepositTransaction, LoanTransaction, LineOfCreditTransaction, InvestmentTransaction, InsuranceTransaction, CommercialTransaction, or DigitalWalletTransaction
          schema:
            $ref: '#/definitions/Transactionsentity'
          examples:
            application/json:
              page:
                nextOffset: '2'
                total: 3
              links:
                next:
                  href: /accounts/33333/transactions?offSet=2&limit=10
              transactions:
              - accountCategory: DEPOSIT_ACCOUNT
                accountId: '10001'
                transactionId: '20002'
                postedTimestamp: 2017-11-05T13:15:30.751Z
                description: Direct deposit from XYZ Corp
                debitCreditMemo: CREDIT
                amount: 1200.42
                payee: XYZ Corp
              - accountCategory: DEPOSIT_ACCOUNT
                accountId: '10001'
                transactionId: '20002'
                postedTimestamp: 2017-11-05T13:15:31.751Z
                description: Withdrawal from ATM
                debitCreditMemo: DEBIT
                amount: 1200.42
                payee: Account Owner
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '400':
          description: Start or end date value is not in the ISO 8601 format
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '702'
              message: Invalid start or end date
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '701'
              message: Account not found
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /accounts/{accountId}/asset-transfer-networks:
    get:
      description: '...'
      summary: getAccountAssetTransferNetworks
      tags:
      - Money Movement
      operationId: getAccountAssetTransferNetworks
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '200':
          description: Information required to facilitate asset transfer from this account
          schema:
            $ref: '#/definitions/AssetTransferNetworkList'
          examples:
            application/json:
              assetTransferNetworks:
              - identifier: '121000358'
                identifierType: ACCOUNT_NUMBER
                institutionName: US Investments
                institutionId: '1234567890'
                type: US_ACATS
                jointAccount: true
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /accounts/{accountId}/payment-networks:
    get:
      description: Get payment networks supported by the account
      summary: getAccountPaymentNetworks
      tags:
      - Money Movement
      operationId: getAccountPaymentNetworks
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      - name: offset
        in: query
        required: false
        type: string
        description: Opaque cursor used by the provider to send the next set of records
      - name: limit
        in: query
        required: false
        type: integer
        format: int32
        description: Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly
      responses:
        '200':
          description: Information required to execute a payment transaction against this account
          schema:
            $ref: '#/definitions/Arrayofaccountpaymentnetworks'
          examples:
            application/json:
              page:
                totalElements: 1
              paymentNetworks:
              - bankId: '121000358'
                identifier: '1234567890'
                identifierType: ACCOUNT_NUMBER
                type: US_ACH
                transferIn: true
                transferOut: true
                transferLimits:
                  out:
                    day:
                      resetsOn: 2023-08-09T00:00:00.000Z
                      transferMaxAmount: 10000
                      transferRemainingAmount: 8356
                      maxOccurrence: 6
                      remainingOccurrence: 5
                    month:
                      resetsOn: 2023-09-01T00:00:00.000Z
                      transferMaxAmount: 50000
                      transferRemainingAmount: 35200
                    transaction:
                      transferMaxAmount: 5000
                      transferRemainingAmount: 4990
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '701'
              message: Account not found
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /accounts/{accountId}/contact:
    get:
      description: Get contact information on the account
      summary: getAccountContact
      tags:
      - Personal Information
      operationId: getAccountContact
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: accountId
        in: path
        required: true
        type: string
        description: Account Identifier
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '200':
          description: Details used to verify an account
          schema:
            $ref: '#/definitions/AccountContactentity'
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '701'
              message: Account not found
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /customers:
    get:
      description: Retrieve account holders related to permissioned accounts
      summary: getCustomers
      tags:
      - Personal Information
      operationId: getCustomers
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      - name: offset
        in: query
        required: false
        type: string
        description: Opaque cursor used by the provider to send the next set of records
      - name: limit
        in: query
        required: false
        type: integer
        format: int32
        description: Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly
      responses:
        '200':
          description: Customers
          schema:
            $ref: '#/definitions/CustomersEntity'
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /customers/current:
    get:
      description: Get information about the customer within the authorization scope
      summary: getCustomerInfo
      tags:
      - Personal Information
      operationId: getCustomerInfo
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '200':
          description: Data describing current authenticated customer
          schema:
            $ref: '#/definitions/Customerentity'
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /customers/{customerId}:
    get:
      description: Retrieve customer information by customer id
      summary: getCustomer
      tags:
      - Personal Information
      operationId: getCustomer
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: customerId
        in: path
        required: true
        type: string
        description: Customer Identifier
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '200':
          description: Customer
          schema:
            $ref: '#/definitions/Customerentity'
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Customer with id not found
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '601'
              message: Customer not found
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /reward-programs/{rewardProgramId}/categories:
    get:
      description: Get reward categories
      summary: getRewardProgramCategories
      tags:
      - Reward Program Categories
      operationId: getRewardProgramCategories
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: rewardProgramId
        in: path
        required: true
        type: string
        description: Reward Program Identifier
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      - name: offset
        in: query
        required: false
        type: string
        description: Opaque cursor used by the provider to send the next set of records
      - name: limit
        in: query
        required: false
        type: integer
        format: int32
        description: Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly
      responses:
        '200':
          description: Data describing a reward program's categories
          schema:
            $ref: '#/definitions/RewardCategoriesentity'
          examples:
            application/json:
              categories:
              - categoryName: Amusement Park
                categoryId: 100
                multiplier: 1
                description: The Amusement Park category, including zoos, circuses and aquariums, covers establishments that operate parks or carnivals and offer mechanical rides and games and/or live animal shows.
              - categoryName: Dining/Restaurant
                categoryId: 101
                multiplier: 2
                description: Merchants in the Dining/Restaurant category range from fast food restaurants to fine dining establishments. They fall into the Dining category if they primarily prepare food and drinks for immediate consumption on the premises or for take-out. Dining merchants include bars, cocktail lounges, nightclubs, taverns and fast-food restaurants. Some merchants that sell food and drinks are located within larger establishments that sell other goods and services and may not be not included in this category. For example a department store or hotel restaurant, theme park cafes or discount store food counter would not be categorized under Dining.
              - categoryName: Entertainment
                categoryId: 102
                multiplier: 2
                description: Entertainment includes purchases made at sports promoters, movie theaters, theatrical promoters, amusement parks, tourist attractions, record stores and video rentals.
              - categoryName: Hotels
                categoryId: 103
                multiplier: 5
                description: Hotels include businesses that provide sleeping or meeting room accommodations. Some goods and services that appear on a hotel bill are included. Often restaurants in hotels are categorized as a hotel purchase.
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Request is invalid
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1101'
              message: Reward program Id not found
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /reward-programs:
    get:
      description: Query all reward programs
      summary: searchRewardPrograms
      tags:
      - Reward Program Information
      operationId: searchRewardPrograms
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      - name: offset
        in: query
        required: false
        type: string
        description: Opaque cursor used by the provider to send the next set of records
      - name: limit
        in: query
        required: false
        type: integer
        format: int32
        description: Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly
      responses:
        '200':
          description: Data describing reward programs associated with accounts
          schema:
            $ref: '#/definitions/RewardProgramsentity'
          examples:
            application/json:
              rewardPrograms:
              - programName: Marriott Bonvoy
                rewardProgramId: 4FRCCQvGW0GZEMtsOQWlkQ
                programUrl: https://www.marriott.com/loyalty.mi
                memberships:
                - accountIds:
                  - af0f8e58-9649-4c29-bab2-0295d522cd6f
                  - e75e31eb-bf04-4d87-9f20-4554f63a639e
                  businessOrConsumer: CONSUMER
                  customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                  memberId: 5ee28848b4f242a6b7a41e0daa03a824
                  memberNumber: '1783949940'
                  memberTier: Gold
                  balances:
                  - name: Points
                    type: POINTS
                    balance: 900
                    accruedYtd: 1000
                    redeemedYtd: 200
                    qualifying: false
                  - name: Promotional
                    type: POINTS
                    balance: 900
                    accrued: 1000
                    redeemed: 200
                    qualifying: false
              - programName: United MileagePlus®
                rewardProgramId: GY4cHWCPxkqgkY61h4BKdQ
                programUrl: https://www.united.com/en/us/fly/mileageplus.html
                memberships:
                - accountIds:
                  - b4ef4572-452d-41bd-9d2d-1b29dafe63f0
                  businessOrConsumer: BUSINESS
                  customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                  memberId: b6b319dd3e2c4592847ad6ee32d518bc
                  memberNumber: '9394970669'
                  balances:
                  - name: Miles
                    type: MILES
                    balance: 900
                    accrued: 1000
                    redeemed: 200
                    qualifying: false
              - programName: Starbucks Rewards
                rewardProgramId: iqOtPUEYb0Go6SCL8As4fQ
                programUrl: https://www.starbucks.com/rewards
                memberships:
                - accountIds:
                  - 89cf3262-ff38-4f6a-afbc-aafc50cac751
                  businessOrConsumer: CONSUMER
                  customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                  memberId: 95c1aeacd85e4783950a9c2d6e76efa9
                  memberNumber: '7417973194'
                  balances:
                  - name: Stars
                    type: POINTS
                    balance: 900
                    accrued: 1000
                    redeemed: 200
                    qualifying: false
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /reward-programs/{rewardProgramId}:
    get:
      description: Get a specific reward program
      summary: getRewardProgram
      tags:
      - Reward Program Information
      operationId: getRewardProgram
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: rewardProgramId
        in: path
        required: true
        type: string
        description: Reward Program Identifier
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '200':
          description: Data describing reward programs associated with accounts
          schema:
            $ref: '#/definitions/RewardProgramentity'
          examples:
            application/json:
              programName: Discover Cashback Bonus
              rewardProgramId: ywX9ME0FXUa6Mtj0xkOgtA
              programUrl: https://www.discover.com/credit-cards/cashback-bonus/
              memberships:
              - accountIds:
                - af0f8e58-9649-4c29-bab2-0295d522cd6f
                - e75e31eb-bf04-4d87-9f20-4554f63a639e
                businessOrConsumer: CONSUMER
                customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                memberId: b0a853a278804e1694d3104709cbfb58
                memberNumber: '6137299224'
                memberTier: Gold
                balances:
                - name: Cashback
                  type: CASHBACK
                  balance: 101.95
                  accruedYtd: 4500.1
                  redeemedYtd: 234.45
                  qualifying: false
                - name: Cashback Match
                  type: CASHBACK
                  balance: 401.95
                  accruedYtd: 500.1
                  redeemedYtd: 134.45
                  qualifying: false
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '404':
          description: Reward program Id not found
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1101'
              message: Reward program Id not found
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /notification-subscriptions:
    post:
      description: Creates notification subscription entry on the server
      summary: createNotificationSubscription
      tags:
      - Event Notifications
      operationId: createNotificationSubscription
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      - name: body
        in: body
        required: false
        description: Notification subscription
        schema:
          $ref: '#/definitions/NotificationSubscriptionentity'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/NotificationSubscriptionentity'
          examples:
            application/json:
              type: CONSENT_REVOKED
              category: CONSENT
              callbackUrl: https://abc.com/notification
              subscriber:
                name: ABC Inc
                type: DATA_ACCESS_PLATFORM
                homeUri: https://abc.com/logo
                logoUri: https://abc.com/logo
                registry: FDX
                registeredEntityName: ABC
                registeredEntityId: ABC123
              effectiveDate: 2021-11-24
              subscriptionId: GUID-SubscriptionId2
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '400':
          description: Input sent by client does not satisfy API specification
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '401'
              message: Invalid Input
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '401':
          description: Request lacks valid authentication credentials for the target resource
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '603'
              message: Authentication failed
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1206'
              message: Method Not Allowed
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1207'
              message: Too Many Requests
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /notification-subscriptions/{subscriptionId}:
    get:
      description: Call to get notification subscription
      summary: getNotificationSubscription
      tags:
      - Event Notifications
      operationId: getNotificationSubscription
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: subscriptionId
        in: path
        required: true
        type: string
        maxLength: 256
        description: ID of notification subscription
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NotificationSubscriptionentity'
          examples:
            application/json:
              type: CONSENT_REVOKED
              category: CONSENT
              callbackUrl: https://abc.com/notification
              subscriber:
                name: ABC Inc
                type: DATA_ACCESS_PLATFORM
                homeUri: https://abc.com/logo
                logoUri: https://abc.com/logo
                registry: FDX
                registeredEntityName: ABC
                registeredEntityId: ABC123
              effectiveDate: 2021-11-24
              subscriptionId: GUID-SubscriptionId2
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '400':
          description: Input sent by client does not satisfy API specification
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '401'
              message: Invalid Input
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '401':
          description: Request lacks valid authentication credentials for the target resource
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '603'
              message: Authentication failed
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1206'
              message: Method Not Allowed
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1207'
              message: Too Many Requests
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
    delete:
      description: Delete a notification subscription
      summary: deleteNotificationSubscription
      tags:
      - Event Notifications
      operationId: deleteNotificationSubscription
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: subscriptionId
        in: path
        required: true
        type: string
        maxLength: 256
        description: ID of notification subscription
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      responses:
        '204':
          description: No Content
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error1'
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '401':
          description: Request lacks valid authentication credentials for the target resource
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '603'
              message: Authentication failed
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1206'
              message: Method Not Allowed
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1207'
              message: Too Many Requests
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /notifications:
    post:
      description: Publish Notification
      summary: publishNotification
      tags:
      - Event Notifications
      operationId: publishNotification
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/Notificationentity'
      responses:
        '204':
          description: No Content
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1206'
              message: Method Not Allowed
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1207'
              message: Too Many Requests
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
    get:
      description: Get Notifications
      summary: getNotifications
      tags:
      - Event Notifications
      operationId: getNotifications
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      - name: limit
        in: query
        required: false
        type: integer
        format: int32
        description: Number of elements that the consumer wishes to receive. Providers should implement reasonable default/maximum/minimum values based on their internal architecture and update their documentation accordingly
      - name: offset
        in: query
        required: false
        type: string
        description: Opaque cursor used by the provider to send the next set of records
      - name: dataRecipientId
        in: query
        required: false
        type: string
        maxLength: 256
        description: ID of Data Recipient (DR), omit for all DRs of a Data Access Platform
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Notificationsentity'
          examples:
            application/json:
              notifications:
              - notificationId: 0a318518-ca16-4e66-1234
                type: RISK
                sentOn: 2021-07-15T14:46:41.375Z
                category: FRAUD
                severity: EMERGENCY
                priority: HIGH
                publisher:
                  name: XYZ Inc
                  type: DATA_ACCESS_PLATFORM
                  homeUri: http://example.com
                  logoUri: http://example.com
                  registry: FDX
                  registeredEntityName: XYZ
                  registeredEntityId: xyz1234
                subscriber:
                  name: ABC Inc
                  type: DATA_ACCESS_PLATFORM
                  homeUri: http://example.com
                  logoUri: http://example.com
                  registry: FDX
                  registeredEntityName: ABC
                  registeredEntityId: ABC123
                notificationPayload:
                  id: 0a318518-ca16-4e66-be76-865a632ea771
                  idType: ACCOUNT
                url:
                  href: https://api.xyz.com/fdx/v4/notifications?dataRecipientId=FIREFLY
                  action: GET
                  rel: notification
                  types:
                  - application/json
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1206'
              message: Method Not Allowed
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '429':
          description: Too Many Requests
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1207'
              message: Too Many Requests
              debugMessage: Provider custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '500':
          description: Catch-all exception where request was not processed due to an internal outage/issue. Consider other more specific errors before using this error
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '500'
              message: Internal server error
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '501':
          description: Error when FdxVersion in Header is not one of those implemented at backend
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '1106'
              message: FdxVersion not supported or not implemented
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error1'
          examples:
            application/json:
              code: '503'
              message: Scheduled Maintenance
              debugMessage: Data Provider's custom developer-level error details for troubleshooting
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /fraud/suspected-incident:
    post:
      description: Notify Data Provider of suspected fraud
      summary: reportSuspectedFraudIncident
      tags:
      - Fraud Notification
      operationId: reportSuspectedFraudIncident
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/SuspectedFraudIncidententity'
      responses:
        '200':
          description: OK
          headers:
            x-fapi-interaction-id:
              description: Unique identifier for this interaction
              type: string
  /availability:
    get:
      description: Get information about this API's availability
      summary: getAvailability
      tags:
      - Meta
      operationId: getAvailability
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: x-fapi-interaction-id
        in: header
        required: true
        type: string
        format: uuid
        description: Unique identifier for this interaction
      - name: FDX-API-Actor-Type
        in: header
        required: false
        enum:
        - BATCH
        - USER
        type: string
        description: Identifies whether the customer is present (USER) or it is a BATCH operation
[...]
